<div class="banner">
     <div class="banner-content">
          <div id="navbar-container">
               <app-navbar></app-navbar>
          </div>
     </div>
</div>

@let view = sendXrpViewModelService;
<!-- Get active tab -->
@let tab = view.activeTab();

<!-- Main content. -->
<div class="main-container">
     <div class="content-wrapper">
          <!-- Left Wallet panel -->
          <app-wallet-panel (walletSelected)="selectWallet($event)"></app-wallet-panel>

          <!-- Center form -->
          <div class="form-panel" style="padding-top: 2em">
               <app-tab-menu-with-info [tabs]="[]" [active]="tab" [metaMap]="tabMeta" (activeChange)="setTab($event)"></app-tab-menu-with-info>

               <app-send-xrp-summary [info]="view.infoData()" [tab]="'sendXrp'" [summaryMessage]="''" [infoPanelExpanded]="false"> </app-send-xrp-summary>
               <!-- Warning Message -->
               @if (txUiService.warningMessage) {
               <app-warning-message [warningMessage]="safeWarningMessage()"></app-warning-message>
               }

               <form #theForm="ngForm" class="main-form">
                    <app-send-xrp-form
                         [view]="view"
                         [info]="view.infoData()"
                         [destinationItems]="destinationItems()"
                         [selectedDestinationItem]="selectedDestinationItem()"
                         [destinationSearchQuery]="destinationSearchQuery()"
                         [wantsOptions]="txUiService.wantsOptions()"
                         [canSubmit]="canSubmit()"
                         [tab]="tab"
                         (performAction)="performAction()"
                         (clearFields)="clearInputFields()"
                         (searchQueryChange)="handleSearchQueryChange($event)"
                         (destinationChange)="handleDestinationChange($event)"
                         (toggleOptions)="txUiService.toggleOptions($event)"
                    />

                    <!-- Action buttons -->
                    <div class="button-row">
                         <button type="button" class="btn-primary-green" (click)="performAction()" [disabled]="!isIdle() || !hasWallets()">{{ sendXrpUtilService.sendButtonLabel() }}</button>
                         <button type="button" class="btn-secondary-clear-fields" (click)="clearInputFields()" [disabled]="!isIdle() || !hasWallets()">Clear Fields</button>
                    </div>

                    <app-transaction-options [showWhenTab]="['sendXrp']" [activeTab]="view.activeTab" [multiSigningEnabled]="accountConfiguratorStoreService.multiSigningEnabled()" [regularKeySigningEnabled]="accountConfiguratorStoreService.regularKeySigningEnabled()"></app-transaction-options>

                    <!-- Execution time -->
                    <app-execution-time-display [time]="executionTime()"></app-execution-time-display>

                    <!-- Transaction Preview -->
                    <app-transaction-preview></app-transaction-preview>
               </form>
          </div>

          <app-send-xrp-requirements-info [activeTab]="tab"></app-send-xrp-requirements-info>
     </div>
</div>
