<div class="side-by-side-fields mt-5">
     <div class="space-y-2">
          <div>
               <div class="field-label">
                    <label for="poolTotalAsset1" class="label-primary">Asset 1 Pool Total</label>
               </div>

               <div class="flex items-center gap-2">
                    <p class="text-secondary">Amount of Asset 1 to use in the pool.</p>
                    <button type="button" (click)="togglePoolTotal1AmountHelper()" class="text-gray-400 hover:text-gray-600 pb-2">
                         <ng-icon name="heroQuestionMarkCircle" size="14" />
                    </button>
               </div>

               <input type="text" readonly class="input-disabled" [value]="ammStoreService.assetPool1Balance() || '0'" />
          </div>
          <app-field-helper title="Asset 1 Pool Total" [items]="showPoolTotalAmount1HelperItems" [show]="showPoolTotalAmount1Helper" />
     </div>
     <div class="space-y-2">
          <div>
               <div class="field-label">
                    <label for="poolTotalAsset2" class="label-primary">Asset 2 Pool Total</label>
               </div>

               <div class="flex items-center gap-2">
                    <p class="text-secondary">Amount of Asset 2 to use in the pool.</p>
                    <button type="button" (click)="togglePoolTotal2AmountHelper()" class="text-gray-400 hover:text-gray-600 pb-2">
                         <ng-icon name="heroQuestionMarkCircle" size="14" />
                    </button>
               </div>

               <input type="text" readonly class="input-disabled" [value]="ammStoreService.assetPool2Balance() || '0'" />
          </div>
          <app-field-helper title="Asset 2 Pool Total" [items]="showPoolTotalAmount2HelperItems" [show]="showPoolTotalAmount2Helper" />
     </div>
</div>
