<div class="form-row">
     <div class="form-group">
          <label>Taxon</label>
          <p class="form-hint">
               Indicates the taxon associated with this token. The taxon is generally a value chosen by the minter of the token <br />
               and a given taxon may be used for multiple tokens.
          </p>
          <input type="text" [(ngModel)]="nftCreateStoreService.taxon" name="taxon" placeholder="" />
     </div>
</div>

<div class="form-row">
     <div class="form-group">
          <label>Transfer Fee</label>
          <p class="form-hint">
               Specifies the fee charged by the issuer for secondary sales of the Token, if such sales are allowed. <br />
               Valid values for this field are between 0 and 50000 inclusive, allowing transfer rates between 0.000% and 50.000% in increments of 0.001%.
          </p>
          <input type="text" [(ngModel)]="nftCreateStoreService.transferFee" name="transferFeeField" placeholder="" />
     </div>
</div>

<div class="form-row">
     <div class="form-group">
          <label>URI</label>
          <p class="form-hint">
               URI that points to the data and/or metadata associated with the NFT. <br />
               The URI is NOT checked for validity, but the field is limited to a maximum length of 256 bytes.
          </p>
          <input type="text" [(ngModel)]="nftCreateStoreService.initialURI" name="initialURI" placeholder="" />
     </div>
</div>

<div class="form-row">
     <div class="form-group">
          <label>Nft Token Minter (optional)</label>
          <p class="form-hint">
               Indicates the account that should be the issuer of this token. This value is optional and should only be specified if the account <br />
               executing the transaction is not the `Issuer` of the `NFToken` object.
          </p>
          <input type="text" [(ngModel)]="nftCreateStoreService.nfTokenMinterAddress" name="nfTokenMinterAddress" placeholder="" />
     </div>
</div>

<div class="form-row">
     <div class="form-group">
          <label>Amount</label>
          <p class="form-hint">
               Indicates the amount expected for the Token. The amount can be zero. <br />
               This would indicate that the account is giving the token away free, either to anyone at all, or to the account identified by the Destination field.
          </p>
          <input type="text" [(ngModel)]="nftCreateStoreService.amount" name="amountField" placeholder="" />
     </div>
</div>

<div class="form-row">
     <div class="form-group">
          <label for="destination">Destination</label>
          <p class="form-hint">The unique address of the account receiving the NFT. Select destination from the dropdown or manually enter a new destination.</p>
          <app-select-search-dropdown [items]="destinationItems" [value]="selectedDestinationItem" (valueChange)="destinationValueChange.emit($event)" placeholder="Enter or select destination address" />
     </div>
</div>

<div class="form-row">
     <div class="form-group">
          <app-xrpl-expiration-input [expirationSignal]="nftCreateStoreService.expiration" [setExpiration]="setNftExpirationDate" label="NFT Offer Expiration Date (optional)" hint="If present, indicates that this offer may only be accepted by the specified account. Attempts by other accounts to accept this offer MUST fail."> </app-xrpl-expiration-input>
     </div>
</div>
