<div id="navbar-container">
     <app-navbar></app-navbar>
</div>
<form id="theForm">
     <app-app-wallet-dynamic-input (walletListChange)="onWalletListChange($event)" (transactionResult)="handleTransactionResult($event)"></app-app-wallet-dynamic-input>

     <fieldset>
          <legend style="color: white">Transaction Information</legend>

          <div class="transaction-layout">
               <div class="top-section-left">
                    <div class="top-sections-wrapper">
                         <div class="top-section-left">
                              <tr>
                                   <td>
                                        <span class="tooltip" tooltip-data="Check this to update add Multi-Sign Address">
                                             <label for="isHolderConfiguration">Configuration Templates:</label>
                                        </span>
                                   </td>
                                   <td>
                                        <input type="radio" id="isHolderConfiguration" [(ngModel)]="configurationType" (ngModelChange)="onConfigurationChange()" name="configurationType" value="holder" />
                                        <label for="isHolderConfiguration">Holder</label>
                                        <input type="radio" id="isExchangerConfiguration" [(ngModel)]="configurationType" (ngModelChange)="onConfigurationChange()" name="configurationType" value="exchanger" />
                                        <label for="isExchangerConfiguration">Exchanger</label>
                                        <input type="radio" id="isIssuerConfiguration" [(ngModel)]="configurationType" (ngModelChange)="onConfigurationChange()" name="configurationType" value="issuer" />
                                        <label for="isIssuerConfiguration">Issuer</label>
                                   </td>
                              </tr>
                              <table id="accountSelection">
                                   <th></th>
                                   <tr>
                                        <td>
                                             <span class="tooltip" tooltip-data="Select the account to use for the transaction.">
                                                  <label for="selectedWalletField">Select Account</label>
                                             </span>
                                        </td>
                                        <td>
                                             <select id="selectedWalletField" class="dropdownWallet" [(ngModel)]="selectedWalletIndex" (ngModelChange)="onAccountChange()" name="selectedWalletField">
                                                  <option *ngFor="let wallet of wallets; let i = index" [value]="i">{{wallet.name || 'Wallet ' + (i+1)}} ({{wallet.address | slice:0:6}}...{{wallet.address | slice:-4}})</option>
                                             </select>
                                        </td>
                                   </tr>
                                   <tr>
                                        <td>
                                             <span class="tooltip" tooltip-data="Name of the currently selected account.">
                                                  <label for="accountNameField">Name</label>
                                             </span>
                                        </td>
                                        <td>
                                             <input type="text" id="accountNameField" [(ngModel)]="currentWallet.name" name="accountNameField" readonly />
                                        </td>
                                   </tr>
                                   <tr>
                                        <td>
                                             <span class="tooltip" tooltip-data="Address of the currently selected account.">
                                                  <label for="accountAddressField">Address</label>
                                             </span>
                                        </td>
                                        <td>
                                             <input type="text" id="accountAddressField" [(ngModel)]="currentWallet.address" name="accountAddressField" readonly />
                                        </td>
                                   </tr>
                                   <tr>
                                        <td>
                                             <span class="tooltip" tooltip-data="Seed of the currently selected account.">
                                                  <label for="accountSeedField">Seed</label>
                                             </span>
                                        </td>
                                        <td>
                                             <input type="text" id="accountSeedField" [(ngModel)]="currentWallet.seed" name="accountSeedField" readonly />
                                        </td>
                                   </tr>
                                   <tr>
                                        <td>
                                             <span class="tooltip" tooltip-data="XRP balance for the currently selected account.">
                                                  <label for="xrpBalanceField">Spendable XRP Balance</label>
                                             </span>
                                        </td>
                                        <td>
                                             <input type="text" id="xrpBalanceField" [(ngModel)]="currentWallet.balance" readonly name="xrpBalanceField" />
                                        </td>
                                   </tr>
                                   <tr>
                                        <td>
                                             <span class="tooltip" tooltip-data="Total account objects that require an XRP reserve.">
                                                  <label for="ownerCountField">Owner Count</label>
                                             </span>
                                        </td>
                                        <td>
                                             <input type="text" id="ownerCountField" [(ngModel)]="ownerCount" readonly name="ownerCountField" />
                                        </td>
                                   </tr>
                                   <tr>
                                        <td>
                                             <span class="tooltip" tooltip-data="Total number of XRP reserves. This includes the base reserve and any account objects that require a reserve.">
                                                  <label for="totalXrpReservesField">Total XRP Reserves</label>
                                             </span>
                                        </td>
                                        <td>
                                             <input type="text" id="totalXrpReservesField" [(ngModel)]="totalXrpReserves" readonly name="totalXrpReservesField" />
                                        </td>
                                   </tr>
                                   <tr>
                                        <td>
                                             <span class="tooltip" tooltip-data="Total Execution time in milli seconds.">
                                                  <label for="totalExecutionTime">Total Execution Time</label>
                                             </span>
                                        </td>
                                        <td>
                                             <input type="text" id="totalExecutionTime" [(ngModel)]="executionTime" readonly name="totalExecutionTime" />
                                        </td>
                                   </tr>
                              </table>
                         </div>

                         <div class="top-section-right">
                              <table id="xrpDetails">
                                   <th></th>
                                   <tr>
                                        <td>
                                             <span class="tooltip" tooltip-data="(asfRequireDest) Requires a destination tag for incoming payments">
                                                  <label for="asfRequireDest">Require Destination Tag</label>
                                             </span>
                                        </td>
                                        <td>
                                             <label class="switch">
                                                  <input type="checkbox" id="asfRequireDest" [(ngModel)]="flags.asfRequireDest" name="asfRequireDest" />
                                                  <span class="slider round"></span>
                                             </label>
                                        </td>
                                   </tr>
                                   <tr>
                                        <td>
                                             <span class="tooltip" tooltip-data="(asfRequireAuth) Requires authorization">
                                                  <label for="asfRequireAuth">Require Auth</label>
                                             </span>
                                        </td>
                                        <td>
                                             <label class="switch">
                                                  <input type="checkbox" id="asfRequireAuth" [(ngModel)]="flags.asfRequireAuth" name="asfRequireAuth" />
                                                  <span class="slider round"></span>
                                             </label>
                                        </td>
                                   </tr>
                                   <tr>
                                        <td>
                                             <span class="tooltip" tooltip-data="(asfDisallowXRP) Discourages incoming XRP payments (not enforced)">
                                                  <label for="asfDisallowXRP">Disallow XRP Payments</label>
                                             </span>
                                        </td>
                                        <td>
                                             <label class="switch">
                                                  <input type="checkbox" id="asfDisallowXRP" [(ngModel)]="flags.asfDisallowXRP" name="asfDisallowXRP" />
                                                  <span class="slider round"></span>
                                             </label>
                                        </td>
                                   </tr>
                                   <tr>
                                        <td>
                                             <span class="tooltip" tooltip-data="(asfDisableMaster) Disables the master key pair">
                                                  <label for="asfDisableMaster">Disable Master Key</label>
                                             </span>
                                        </td>
                                        <td>
                                             <label class="switch">
                                                  <input type="checkbox" id="asfDisableMaster" [(ngModel)]="flags.asfDisableMaster" name="asfDisableMaster" />
                                                  <span class="slider round"></span>
                                             </label>
                                        </td>
                                   </tr>
                                   <tr>
                                        <td>
                                             <span class="tooltip" tooltip-data="(asfNoFreeze) Prevents freezing trust lines">
                                                  <label for="asfNoFreeze">Don't Freeze Trust Lines</label>
                                             </span>
                                        </td>
                                        <td>
                                             <label class="switch">
                                                  <input type="checkbox" id="asfNoFreeze" [(ngModel)]="flags.asfNoFreeze" (ngModelChange)="onNoFreezeChange()" name="asfNoFreeze" />
                                                  <span class="slider round"></span>
                                             </label>
                                        </td>
                                   </tr>
                                   <tr>
                                        <td>
                                             <span class="tooltip" tooltip-data="(asfGlobalFreeze) Freezes all trust lines">
                                                  <label for="asfGlobalFreeze">Freeze All Trust Lines</label>
                                             </span>
                                        </td>
                                        <td>
                                             <label class="switch">
                                                  <input type="checkbox" id="asfGlobalFreeze" [(ngModel)]="flags.asfGlobalFreeze" name="asfGlobalFreeze" />
                                                  <span class="slider round"></span>
                                             </label>
                                        </td>
                                   </tr>
                                   <tr>
                                        <td>
                                             <span class="tooltip" tooltip-data="(asfDefaultRipple) Enables rippling by default on trust lines">
                                                  <label for="asfDefaultRipple">Enable Rippling</label>
                                             </span>
                                        </td>
                                        <td>
                                             <label class="switch">
                                                  <input type="checkbox" id="asfDefaultRipple" [(ngModel)]="flags.asfDefaultRipple" name="asfDefaultRipple" />
                                                  <span class="slider round"></span>
                                             </label>
                                        </td>
                                   </tr>
                                   <tr>
                                        <td>
                                             <span class="tooltip" tooltip-data="">
                                                  <label for="isIssuer">Is Issuer</label>
                                             </span>
                                        </td>
                                        <td>
                                             <label class="switch">
                                                  <input type="checkbox" id="isIssuer" [(ngModel)]="this.currentWallet.isIssuer" name="isIssuer" />
                                                  <span class="slider round"></span>
                                             </label>
                                        </td>
                                   </tr>
                              </table>
                         </div>

                         <div class="top-section-right">
                              <table id="xrpDetails">
                                   <th></th>
                                   <tr>
                                        <td>
                                             <span class="tooltip" tooltip-data="(asfDepositAuth) Requires preauthorization for incoming deposits">
                                                  <label for="asfDepositAuth">Require Deposit Auth</label>
                                             </span>
                                        </td>
                                        <td>
                                             <label class="switch">
                                                  <input type="checkbox" id="asfDepositAuth" [(ngModel)]="flags.asfDepositAuth" name="asfDepositAuth" />
                                                  <span class="slider round"></span>
                                             </label>
                                             <label for="asfDepositAuth"></label>
                                        </td>
                                   </tr>
                                   <tr>
                                        <td>
                                             <span class="tooltip" tooltip-data="(asfAllowTrustLineClawback) Allows another account to mint NFTs">
                                                  <label for="asfAllowTrustLineClawback">Allow Trustline Clawback</label>
                                             </span>
                                        </td>
                                        <td>
                                             <label class="switch">
                                                  <input type="checkbox" id="asfAllowTrustLineClawback" [(ngModel)]="flags.asfAllowTrustLineClawback" (ngModelChange)="onClawbackChange()" name="asfAllowTrustLineClawback" />
                                                  <span class="slider round"></span>
                                             </label>
                                        </td>
                                   </tr>
                                   <tr>
                                        <td>
                                             <span class="tooltip" tooltip-data="(asfAllowTrustLineLocking) Allows another account to mint NFTs">
                                                  <label for="asfAllowTrustLineLocking">Allow Trustline Locking</label>
                                             </span>
                                        </td>
                                        <td>
                                             <label class="switch">
                                                  <input type="checkbox" id="asfAllowTrustLineLocking" [(ngModel)]="flags.asfAllowTrustLineLocking" name="asfAllowTrustLineLocking" />
                                                  <span class="slider round"></span>
                                             </label>
                                        </td>
                                   </tr>
                                   <tr>
                                        <td>
                                             <span class="tooltip" tooltip-data="(asfDisallowIncomingNFTokenOffer) Blocks incoming NFT offers">
                                                  <label for="asfDisallowIncomingNFTokenOffer">Block NFT Offers</label>
                                             </span>
                                        </td>
                                        <td>
                                             <label class="switch">
                                                  <input type="checkbox" id="asfDisallowIncomingNFTokenOffer" [(ngModel)]="flags.asfDisallowIncomingNFTokenOffer" name="asfDisallowIncomingNFTokenOffer" />
                                                  <span class="slider round"></span>
                                             </label>
                                        </td>
                                   </tr>
                                   <tr>
                                        <td>
                                             <span class="tooltip" tooltip-data="(asfDisallowIncomingCheck) Blocks incoming checks">
                                                  <label for="asfDisallowIncomingCheck">Block Checks</label>
                                             </span>
                                        </td>
                                        <td>
                                             <label class="switch">
                                                  <input type="checkbox" id="asfDisallowIncomingCheck" [(ngModel)]="flags.asfDisallowIncomingCheck" name="asfDisallowIncomingCheck" />
                                                  <span class="slider round"></span>
                                             </label>
                                        </td>
                                   </tr>
                                   <tr>
                                        <td>
                                             <span class="tooltip" tooltip-data="(asfDisallowIncomingPayChan) Blocks incoming payment channels">
                                                  <label for="asfDisallowIncomingPayChan">Block Payment Channels</label>
                                             </span>
                                        </td>
                                        <td>
                                             <label class="switch">
                                                  <input type="checkbox" id="asfDisallowIncomingPayChan" [(ngModel)]="flags.asfDisallowIncomingPayChan" name="asfDisallowIncomingPayChan" />
                                                  <span class="slider round"></span>
                                             </label>
                                        </td>
                                   </tr>
                                   <tr>
                                        <td>
                                             <span class="tooltip" tooltip-data="(asfDisallowIncomingTrustline) Blocks incoming trust lines">
                                                  <label for="asfDisallowIncomingTrustline">Block Trust Lines</label>
                                             </span>
                                        </td>
                                        <td>
                                             <label class="switch">
                                                  <input type="checkbox" id="asfDisallowIncomingTrustline" [(ngModel)]="flags.asfDisallowIncomingTrustline" name="asfDisallowIncomingTrustline" />
                                                  <span class="slider round"></span>
                                             </label>
                                        </td>
                                   </tr>
                              </table>
                         </div>
                    </div>

                    <div class="spinner-container">
                         <div id="spinner" [ngStyle]="{ display: spinner ? 'block' : 'none' }" class="spinner"></div>
                         <div *ngIf="spinner" class="spinner-text">{{ spinnerMessage || '' }}</div>
                    </div>

                    <div class="button-container">
                         <table style="text-align: left; width: 100%">
                              <th></th>
                              <tr style="vertical-align: top">
                                   <td colspan="2">
                                        <button type="button" (click)="getAccountDetails()">Get Account Info</button>
                                        <button type="button" (click)="updateFlags()">Update Flags</button>
                                        <button type="button" (click)="clearFields(true)">Clear Fields</button>
                                   </td>
                              </tr>
                              <tr style="vertical-align: top">
                                   <td colspan="2">
                                        <div #resultField id="resultField" [attr.contenteditable]="isEditable" [ngClass]="{ error: isError, success: isSuccess }" class="result-container" [innerHTML]="result | sanitizeHtml"></div>
                                   </td>
                              </tr>
                         </table>

                         <details class="account-flag-info">
                              <summary>Account Flag Info</summary>
                              <fieldset class="flag-fieldset">
                                   <div class="flag-table">
                                        <!-- Header Row -->
                                        <div class="flag-row flag-header">
                                             <div class="flag-cell">Flag</div>
                                             <div class="flag-cell">Purpose</div>
                                             <div class="flag-cell">Set Once?</div>
                                             <div class="flag-cell">Mutually Exclusive</div>
                                             <div class="flag-cell">Notes</div>
                                        </div>
                                        <!-- Data Rows -->
                                        <div class="flag-row">
                                             <div class="flag-cell">asfRequireDest</div>
                                             <div class="flag-cell">Require a destination tag to send transactions to this account.</div>
                                             <div class="flag-cell">No</div>
                                             <div class="flag-cell">None</div>
                                             <div class="flag-cell">Protects against ambiguous payments</div>
                                        </div>
                                        <div class="flag-row">
                                             <div class="flag-cell">asfRequireAuth</div>
                                             <div class="flag-cell">Require authorization for users to hold balances issued by this address.</div>
                                             <div class="flag-cell">No</div>
                                             <div class="flag-cell">None</div>
                                             <div class="flag-cell">Used for compliance (e.g., KYC/AML). Can only be enabled if the address has no trust lines connected to it.</div>
                                        </div>
                                        <div class="flag-row">
                                             <div class="flag-cell">asfDisallowXRP</div>
                                             <div class="flag-cell">XRP should not be sent to this account.</div>
                                             <div class="flag-cell">No</div>
                                             <div class="flag-cell">None</div>
                                             <div class="flag-cell">Not enforced by rippled; client-respected</div>
                                        </div>
                                        <div class="flag-row">
                                             <div class="flag-cell">asfDisableMaster</div>
                                             <div class="flag-cell">Disallow use of the master key pair.</div>
                                             <div class="flag-cell">No</div>
                                             <div class="flag-cell">None</div>
                                             <div class="flag-cell">Can only be enabled if the account has configured another way to sign transactions, such as a Regular Key or a Signer List.</div>
                                        </div>
                                        <div class="flag-row">
                                             <div class="flag-cell">asfNoFreeze</div>
                                             <div class="flag-cell">Permanently give up the ability to freeze individual trust lines or disable Global Freeze.</div>
                                             <div class="flag-cell">Yes</div>
                                             <div class="flag-cell">asfGlobalFreeze</div>
                                             <div class="flag-cell">Irreversible once set</div>
                                        </div>
                                        <div class="flag-row">
                                             <div class="flag-cell">asfGlobalFreeze</div>
                                             <div class="flag-cell">Freezes all issued tokens</div>
                                             <div class="flag-cell">No</div>
                                             <div class="flag-cell">asfNoFreeze</div>
                                             <div class="flag-cell">Can be toggled unless asfNoFreeze is set</div>
                                        </div>
                                        <div class="flag-row">
                                             <div class="flag-cell">asfDefaultRipple</div>
                                             <div class="flag-cell">Enables rippling on trust lines</div>
                                             <div class="flag-cell">No</div>
                                             <div class="flag-cell">None</div>
                                             <div class="flag-cell">Recommended for issuers</div>
                                        </div>
                                        <div class="flag-row">
                                             <div class="flag-cell">asfDepositAuth</div>
                                             <div class="flag-cell">Enable Deposit Authorization on this account.</div>
                                             <div class="flag-cell">No</div>
                                             <div class="flag-cell">None</div>
                                             <div class="flag-cell">Controls incoming funds</div>
                                        </div>
                                        <div class="flag-row">
                                             <div class="flag-cell">asfAuthorizedNFTokenMinter</div>
                                             <div class="flag-cell">Enable to allow another account to mint non-fungible tokens (NFTokens) on this account's behalf.</div>
                                             <div class="flag-cell">No</div>
                                             <div class="flag-cell">None</div>
                                             <div class="flag-cell">Specify the authorized account in the NFTokenMinter field of the AccountRoot object. To remove an authorized minter, enable this flag and omit the NFTokenMinter field.</div>
                                        </div>
                                        <div class="flag-row">
                                             <div class="flag-cell">asfDisallowIncomingNFTokenOffer</div>
                                             <div class="flag-cell">Blocks incoming NFT offers</div>
                                             <div class="flag-cell">No</div>
                                             <div class="flag-cell">None</div>
                                             <div class="flag-cell">Controls NFT interactions</div>
                                        </div>
                                        <div class="flag-row">
                                             <div class="flag-cell">asfDisallowIncomingCheck</div>
                                             <div class="flag-cell">Blocks incoming checks</div>
                                             <div class="flag-cell">No</div>
                                             <div class="flag-cell">None</div>
                                             <div class="flag-cell">Prevents check transactions</div>
                                        </div>
                                        <div class="flag-row">
                                             <div class="flag-cell">asfDisallowIncomingPayChan</div>
                                             <div class="flag-cell">Blocks incoming payment channels</div>
                                             <div class="flag-cell">No</div>
                                             <div class="flag-cell">None</div>
                                             <div class="flag-cell">Restricts payment channels</div>
                                        </div>
                                        <div class="flag-row">
                                             <div class="flag-cell">asfDisallowIncomingTrustline</div>
                                             <div class="flag-cell">Blocks incoming trust lines</div>
                                             <div class="flag-cell">No</div>
                                             <div class="flag-cell">None</div>
                                             <div class="flag-cell">Useful for token issuers</div>
                                        </div>
                                        <div class="flag-row">
                                             <div class="flag-cell">asfAllowTrustLineClawback</div>
                                             <div class="flag-cell">Enables IOU clawback</div>
                                             <div class="flag-cell">Yes</div>
                                             <div class="flag-cell">None</div>
                                             <div class="flag-cell">Irreversible; for regulatory use</div>
                                        </div>
                                   </div>
                              </fieldset>
                         </details>
                    </div>
               </div>

               <div class="right-section">
                    <table id="flags">
                         <th></th>
                         <tr>
                              <td>
                                   <span class="tooltip" tooltip-data="Add memo to transaction.">
                                        <label>Memo</label>
                                   </span>
                              </td>
                              <td style="display: flex; gap: 10px; flex-wrap: wrap">
                                   <label class="switch">
                                        <input type="checkbox" id="isMemoEnabled" [(ngModel)]="isMemoEnabled" name="isMemoEnabled" />
                                        <span class="slider round"></span>
                                   </label>
                                   <label for="isMemoEnabled"></label>
                              </td>
                         </tr>
                         <tr class="multisignAddressClass" *ngIf="isMemoEnabled">
                              <td>
                                   <span class="tooltip" tooltip-data="">
                                        <label for="memoField"></label>
                                   </span>
                              </td>
                              <td>
                                   <textarea class="memoField" style="width: 300px; height: 100px" id="memoField" placeholder="Add optional memo to transaction." [(ngModel)]="memoField" name="memoField"></textarea>
                              </td>
                         </tr>
                         <tr>
                              <td>
                                   <span class="tooltip" tooltip-data="Check this to enter a deposit auth address">
                                        <label [ngStyle]="{'color': depositAuthEnabled ? '#4CAF50' : 'white'}">Deposit Auth Address</label>
                                   </span>
                              </td>
                              <td style="display: flex; gap: 10px; flex-wrap: wrap">
                                   <label class="switch">
                                        <input type="checkbox" id="isdepositAuthAddress" [(ngModel)]="isdepositAuthAddress" name="isdepositAuthAddress" />
                                        <span class="slider round"></span>
                                   </label>
                                   <label for="isdepositAuthAddress"></label>
                              </td>
                         </tr>
                         <tr class="multisignAddressClass" *ngIf="isdepositAuthAddress">
                              <td>
                                   <span class="tooltip" tooltip-data="Enter ticket sequence to use for currently selected account">
                                        <label for="depositAuthAddress"></label>
                                   </span>
                              </td>
                              <td>
                                   <textarea class="memoField" style="width: 300px; height: 100px" id="depositAuthAddress" placeholder="Comma seperated list of address for deposit authorization." [(ngModel)]="depositAuthAddress" name="depositAuthAddress"></textarea>
                                   <br />
                                   <button type="button" (click)="setDepositAuthAccounts('Y')">Set Deposit Auth</button>
                                   <button type="button" (click)="setDepositAuthAccounts('N')">Unauthorize Deposit Auth</button>
                              </td>
                         </tr>
                         <tr>
                              <td>
                                   <span class="tooltip" tooltip-data="Enable to allow another account to mint non-fungible tokens (NFTokens) on this account's behalf.">
                                        <label [ngStyle]="{'color': isNFTokenMinterEnabled ? '#4CAF50' : 'white'}">Auth NFT Minter</label>
                                   </span>
                              </td>
                              <td style="display: flex; gap: 10px; flex-wrap: wrap">
                                   <label class="switch">
                                        <input type="checkbox" id="isAuthorizedNFTokenMinter" [(ngModel)]="isAuthorizedNFTokenMinter" (ngModelChange)="onAuthorizedNFTokenMinter()" name="isAuthorizedNFTokenMinter" />
                                        <span class="slider round"></span>
                                   </label>
                                   <label for="isAuthorizedNFTokenMinter"></label>
                              </td>
                         </tr>
                         <tr class="multisignAddressClass" *ngIf="isAuthorizedNFTokenMinter">
                              <td>
                                   <span class="tooltip" tooltip-data="Enter NFT Minter addresses">
                                        <label for="nfTokenMinterAddress"></label>
                                   </span>
                              </td>
                              <td>
                                   <input type="text" id="nfTokenMinterAddress" id="nfTokenMinterAddress" placeholder="" [(ngModel)]="nfTokenMinterAddress" name="nfTokenMinterAddress" />
                                   <br />
                                   <button type="button" (click)="setNftMinterAddress('Y')">Set NFT Minter</button>
                                   <button type="button" (click)="setNftMinterAddress('N')">Remove NFT Minter</button>
                              </td>
                         </tr>
                         <tr class="">
                              <td>
                                   <span class="tooltip" tooltip-data="Check this to update the account meta data">
                                        <label [ngStyle]="{'color': isUpdateMetaData ? '#4CAF50' : 'white'}">Update Meta Data</label>
                                   </span>
                              </td>
                              <td style="display: flex; gap: 10px; flex-wrap: wrap">
                                   <label class="switch">
                                        <input type="checkbox" id="isUpdateMetaData" [(ngModel)]="isUpdateMetaData" (ngModelChange)="toggleMetaData()" name="isUpdateMetaData" />
                                        <span class="slider round"></span>
                                   </label>
                                   <label for="isUpdateMetaData"></label>
                              </td>
                         </tr>
                         <tr class="" *ngIf="isUpdateMetaData">
                              <td>
                                   <span class="tooltip" tooltip-data="Only applies to AMM/DEX issuers. Controls how precisely prices are rounded in the DEX.">
                                        <label for="tickSizeField">Tick Size</label>
                                   </span>
                              </td>
                              <td>
                                   <input type="text" id="tickSizeField" size="40" placeholder="Value must be between 3 and 15" [(ngModel)]="tickSize" name="tickSizeField" />
                              </td>
                         </tr>
                         <tr class="metaData" *ngIf="isUpdateMetaData">
                              <td>
                                   <span class="tooltip" tooltip-data="Defines how much extra to charge when people hold your issued tokens (only applies to issuers). It's a ratio multiplied by 1,000,000,000">
                                        <label for="transferRateField">Transfer Rate</label>
                                   </span>
                              </td>
                              <td>
                                   <input type="text" id="transferRateField" size="40" placeholder="This will be a percentage" [(ngModel)]="transferRate" name="transferRateField" />
                              </td>
                         </tr>
                         <tr class="" *ngIf="isUpdateMetaData">
                              <td>
                                   <span class="tooltip" tooltip-data="Check this to save the message key in the account Information">
                                        <label>Save Message Key</label>
                                   </span>
                              </td>
                              <td style="display: flex; gap: 10px; flex-wrap: wrap">
                                   <label class="switch">
                                        <input type="checkbox" id="isMessageKey" [(ngModel)]="isMessageKey" name="isMessageKey" />
                                        <span class="slider round"></span>
                                   </label>
                                   <label for="isMessageKey"></label>
                              </td>
                         </tr>
                         <tr class="" *ngIf="isUpdateMetaData">
                              <td>
                                   <span class="tooltip" tooltip-data="Web identity.">
                                        <label for="domainField">Domain</label>
                                   </span>
                              </td>
                              <td>
                                   <input type="text" id="domainField" size="40" [(ngModel)]="domain" name="domainField" />
                              </td>
                         </tr>
                         <tr class="" *ngIf="isUpdateMetaData">
                              <td>
                                   <span class="tooltip" tooltip-data="URL of the image to be used as the account's avatar.">
                                        <label for="urlField">Avatar URL</label>
                                   </span>
                              </td>
                              <td>
                                   <input type="text" id="urlField" size="40" [(ngModel)]="avatarUrl" name="urlField" />
                                   <br />
                                   <button type="button" (click)="updateMetaData()">Update Meta Data</button>
                              </td>
                         </tr>
                         <tr>
                              <td></td>
                              <td *ngIf="masterKeyDisabled">
                                   <label style="color: red">Master Key is disabled. Use multi-sign or regular key to sign transactions.</label>
                              </td>
                         </tr>
                         <tr>
                              <td>
                                   <span class="tooltip" tooltip-data="Check this to update add Multi-Sign Address">
                                        <label>Setup Multi-Sign</label>
                                   </span>
                              </td>
                              <td style="display: flex; gap: 10px; flex-wrap: wrap">
                                   <label class="switch">
                                        <input type="checkbox" id="isMultiSignAddressData" [(ngModel)]="isMultiSign" (ngModelChange)="toggleMultiSign()" name="isMultiSignAddressData" />
                                        <span class="slider round"></span>
                                   </label>
                              </td>
                         </tr>
                         <ng-container *ngIf="isMultiSign">
                              <tr>
                                   <td></td>
                                   <td>
                                        <fieldset style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px; width: fit-content">
                                             <ng-container *ngFor="let signer of signers; let i = index">
                                                  <fieldset style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px">
                                                       <legend style="font-weight: bold; color: white">Signer {{ i + 1 }}</legend>
                                                       <div style="margin-bottom: 8px">
                                                            <label for="signerAccountField{{ i }}" class="signer-label">Account:</label>
                                                            <input type="text" id="signerAccountField{{ i }}" style="width: 270px" [(ngModel)]="signer.account" name="signerAccountField{{ i }}" />
                                                       </div>
                                                       <div style="margin-bottom: 8px">
                                                            <label for="signerSeedField{{ i }}" style="padding-left: 26px" class="signer-label">Seed:</label>
                                                            <input type="text" id="signerSeedField{{ i }}" style="width: 270px" [(ngModel)]="signer.seed" name="signerSeedField{{ i }}" />
                                                       </div>
                                                       <div>
                                                            <label for="signerWeightField{{ i }}" style="padding-left: 17px" class="signer-label">Weight:</label>
                                                            <input class="multisignMultiAddressAccount" style="width: 50px; height: 28px" type="number" id="signerWeightField{{ i }}" [(ngModel)]="signer.weight" name="signerWeightField{{ i }}" />
                                                            <button type="button" (click)="removeSigner(i)" *ngIf="signers.length > 1">Remove</button>
                                                       </div>
                                                  </fieldset>
                                             </ng-container>

                                             <div style="margin: 10px 0">
                                                  <button type="button" (click)="addSigner()">+ Add Signer</button>
                                             </div>

                                             <div style="margin: 10px 0">
                                                  <label style="display: inline-block; margin-right: 10px">Signer Quorum</label>
                                                  <input class="multisignMultiAddressAccount" type="number" id="signerQuorumField" style="width: 50px; height: 28px" [(ngModel)]="signerQuorum" (ngModelChange)="validateQuorum()" name="signerQuorumField" />
                                             </div>

                                             <div>
                                                  <button type="button" (click)="setMultiSign('Y')">Set Multi-Sign</button>
                                                  <button type="button" (click)="setMultiSign('N')">Remove Multi-Sign</button>
                                             </div>
                                        </fieldset>
                                   </td>
                              </tr>
                         </ng-container>
                         <tr>
                              <td>
                                   <span class="tooltip" tooltip-data="Check this to update add Multi-Sign Address">
                                        <label [ngStyle]="{'color': multiSigningEnabled ? '#4CAF50' : 'white'}">Use Multi-Sign Address</label>
                                   </span>
                              </td>
                              <td style="display: flex; gap: 10px; flex-wrap: wrap">
                                   <label class="switch">
                                        <input type="checkbox" id="isMultiSignAddressData" [(ngModel)]="useMultiSign" (ngModelChange)="toggleMultiSign()" name="isMultiSignAddressData" />
                                        <span class="slider round"></span>
                                   </label>
                                   <label for="isMultiSignAddressData"></label>
                              </td>
                         </tr>
                         <tr *ngIf="useMultiSign">
                              <td></td>
                              <td>
                                   <fieldset style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px; width: fit-content">
                                        <table style="border-collapse: collapse">
                                             <tr class="multisignAddressClass" *ngIf="useMultiSign">
                                                  <td>
                                                       <span class="tooltip" tooltip-data="Comma-separated list of signer addresses (must be in the account's SignerList)">
                                                            <label for="multiSignAddress">Signers</label>
                                                       </span>
                                                  </td>
                                                  <td>
                                                       <textarea class="memoField" style="width: 280px; height: 100px" id="multiSignAddress" placeholder="Comma-separated list of signer addresses" [(ngModel)]="multiSignAddress" name="multiSignAddress" readonly></textarea>
                                                  </td>
                                             </tr>
                                             <tr class="multisignAddressClass" *ngIf="useMultiSign">
                                                  <td>
                                                       <span class="tooltip" tooltip-data="Comma-separated list of signer seeds (must correspond to signer addresses)">
                                                            <label for="multiSignSeeds">Seeds</label>
                                                       </span>
                                                  </td>
                                                  <td>
                                                       <textarea class="memoField" style="width: 280px; height: 100px" id="multiSignSeeds" placeholder="Comma-separated list of signer seeds" [(ngModel)]="multiSignSeeds" name="multiSignSeeds" readonly></textarea>
                                                  </td>
                                             </tr>
                                             <tr class="multisignAddressClass" *ngIf="useMultiSign">
                                                  <td>
                                                       <span class="tooltip" tooltip-data="Quorum amount for multi sign.">
                                                            <label for="quorum">Quorum</label>
                                                       </span>
                                                  </td>
                                                  <td>
                                                       <input type="text" id="signerQuorumField" style="width: 50px; height: 28px" [(ngModel)]="signerQuorum" (ngModelChange)="validateQuorum()" name="signerQuorumField" readonly />
                                                  </td>
                                             </tr>
                                        </table>
                                   </fieldset>
                              </td>
                         </tr>
                         <tr>
                              <td>
                                   <span class="tooltip" tooltip-data="Check this to use Regular Key Address">
                                        <label [ngStyle]="{'color': regularKeySigningEnabled ? '#4CAF50' : 'white'}">Use Regular Key</label>
                                   </span>
                              </td>
                              <td style="display: flex; gap: 10px; flex-wrap: wrap">
                                   <label class="switch">
                                        <input type="checkbox" id="isSetRegularKeyData" [(ngModel)]="isSetRegularKey" (ngModelChange)="toggleMultiSign()" name="isSetRegularKeyData" />
                                        <span class="slider round"></span>
                                   </label>
                                   <label for="isSetRegularKeyData"></label>
                              </td>
                         </tr>
                         <tr class="" *ngIf="isSetRegularKey">
                              <td>
                                   <span class="tooltip" tooltip-data="Add address to set regular key.">
                                        <label for="regularKeyAccount">Account</label>
                                   </span>
                              </td>
                              <td>
                                   <input type="text" id="regularKeyAccount" placeholder="Enter Regular Key Address" size="40" [(ngModel)]="regularKeyAccount" name="regularKeyAccount" />
                              </td>
                         </tr>
                         <tr class="" *ngIf="isSetRegularKey">
                              <td>
                                   <span class="tooltip" tooltip-data="Add seed to set regular key. This is a comma separated list">
                                        <label for="regularKeySeed">Seed</label>
                                   </span>
                              </td>
                              <td>
                                   <input type="text" id="regularKeySeed" size="40" placeholder="Enter Regular Key Seed" [(ngModel)]="regularKeyAccountSeed" name="regularKeySeed" />
                                   <br />
                                   <button type="button" (click)="setRegularKey('Y')">Set Regular Key</button>
                                   <button type="button" (click)="setRegularKey('N')">Remove Regular Key</button>
                              </td>
                         </tr>
                         <tr>
                              <td>
                                   <span class="tooltip" tooltip-data="Check this to use a ticket sequence">
                                        <label>Use Ticket Sequence</label>
                                   </span>
                              </td>
                              <td style="display: flex; gap: 10px; flex-wrap: wrap">
                                   <label class="switch">
                                        <input type="checkbox" id="isTicketEnabled" [(ngModel)]="isTicket" (ngModelChange)="toggleTicketSequence()" name="isTicketEnabled" />
                                        <span class="slider round"></span>
                                   </label>
                                   <label for="isTicketEnabled"></label>
                              </td>
                         </tr>
                         <tr class="" *ngIf="isTicket">
                              <td>
                                   <span class="tooltip" tooltip-data="Enter ticket sequence to use for currently selected account">
                                        <label for="ticketSequence"></label>
                                   </span>
                              </td>
                              <td>
                                   <!-- <div class="selection-mode">
                                        <label>
                                             <input type="checkbox" [(ngModel)]="multiSelectMode" [ngModelOptions]="{standalone: true}" />
                                             Multiple Selection
                                        </label>
                                   </div> -->

                                   <div *ngIf="multiSelectMode; else singleSelect">
                                        <select class="timeUnit" [(ngModel)]="selectedTickets" multiple [ngModelOptions]="{standalone: true}">
                                             <option *ngFor="let ticket of ticketArray" [value]="ticket">{{ticket}}</option>
                                        </select>
                                   </div>

                                   <ng-template #singleSelect>
                                        <select class="timeUnit" [(ngModel)]="selectedSingleTicket" [ngModelOptions]="{standalone: true}">
                                             <option value="" disabled>Select a ticket</option>
                                             <option *ngFor="let ticket of ticketArray" [value]="ticket">{{ticket}}</option>
                                        </select>
                                   </ng-template>
                              </td>
                         </tr>
                         <tr>
                              <td>
                                   <span class="tooltip" tooltip-data="Check this to simulate a send xrp transaction">
                                        <label>Simulate Transaction</label>
                                   </span>
                              </td>
                              <td style="display: flex; gap: 10px; flex-wrap: wrap">
                                   <label class="switch">
                                        <input type="checkbox" id="isSimulateEnabled" [(ngModel)]="isSimulateEnabled" (ngModelChange)="toggleTicketSequence()" name="isSimulateEnabled" />
                                        <span class="slider round"></span>
                                   </label>
                                   <label for="isSimulateEnabled"></label>
                              </td>
                         </tr>
                    </table>
               </div>
          </div>
     </fieldset>
</form>
