<div class="banner">
     <div class="banner-content">
          <div id="navbar-container">
               <app-navbar></app-navbar>
          </div>
     </div>
</div>

<!-- Get active tab -->
@let tab = accountConfiguratorViewModelService.activeTab();
<!-- Get tab data -->
@let tabs = accountConfiguratorUtilService.accountConfigTabs;
<!-- Get tab meta data -->
@let meta = accountConfiguratorUtilService.accountConfigTabsMeta;

<!-- Main content. -->
<div class="main-container">
     <div class="content-wrapper">
          <!-- Left Wallet panel -->
          <app-wallet-panel (walletSelected)="selectWallet($event)"></app-wallet-panel>

          <!-- Center form -->
          <div class="form-panel">
               <!-- Menu / Tabs -->
               <app-tab-menu-with-info [tabs]="tabs" [active]="tab" [metaMap]="meta" (activeChange)="setTab($event)"></app-tab-menu-with-info>

               <!-- Info Message -->
               <app-account-configurator-summary [tab]="tab" [infoPanelExpanded]="infoPanelExpanded()" (toggleInfoPanel)="toggleInfoPanel()"></app-account-configurator-summary>

               <!-- Warning Message -->
               @if (txUiService.warningMessage) {
               <app-warning-message [warningMessage]="safeWarningMessage()"></app-warning-message>
               }

               <form #theForm="ngForm" class="main-form">
                    <!-- Account Flags-->
                    @if (tab === 'modifyAccountFlags') {
                    <app-account-flags [canSubmit]="canSubmit()" (performAction)="performAction($event)"></app-account-flags>
                    }

                    <!-- Modify Deposit Auth -->
                    @if (tab === 'modifyDepositAuth') {
                    <app-deposit-auth [canSubmit]="canSubmit()" (performAction)="performAction($event)"></app-deposit-auth>
                    }

                    <!-- Modify Meta Data -->
                    @if (tab === 'modifyMetaData') {
                    <app-account-metadata [canSubmit]="canSubmit()" (performAction)="performAction($event)"></app-account-metadata>
                    }

                    <!-- Multi Sign -->
                    @if (tab === 'modifyMultiSigners') {
                    <app-multi-sign [canSubmit]="canSubmit()" (performAction)="performAction($event)"></app-multi-sign>
                    }

                    <!-- Regular Key -->
                    @if(tab === 'modifyRegularKey') {
                    <app-regular-key [canSubmit]="canSubmit()" (performAction)="performAction($event)"></app-regular-key>
                    }

                    <app-transaction-options [showWhenTab]="['modifyMultiSigners','modifyRegularKey','modifyMetaData','modifyDepositAuth','modifyAccountFlags']" [activeTab]="accountConfiguratorViewModelService.activeTab" [multiSigningEnabled]="accountConfiguratorStoreService.get('multiSigningEnabled')" [regularKeySigningEnabled]="accountConfiguratorStoreService.get('regularKeySigningEnabled')"> </app-transaction-options>

                    <!-- Execution time -->
                    <app-execution-time-display [time]="executionTime()"></app-execution-time-display>

                    <!-- Transaction Preview -->
                    <app-transaction-preview></app-transaction-preview>
               </form>
          </div>

          <app-account-configurator-requirements-info [activeTab]="tab"></app-account-configurator-requirements-info>
     </div>
</div>
