<div class="main-container">
     @if (isNavigating()) {
     <div class="route-loading-bar"></div>
     }
     <router-outlet></router-outlet>
</div>

<div class="toast-container">
     <div class="toast-stack">
          @for (toast of toastService.toasts(); track toast.id) {

          <div class="toast" [ngClass]="toast.type" [@toastAnimation] (click)="toastService.removeToast(toast.id)">
               <div class="toast-icon">
                    @if(toast.type === 'success') {
                    <ng-icon name="heroCheckCircle"></ng-icon>
                    } @if(toast.type === 'error') {
                    <ng-icon name="heroXCircle"></ng-icon>
                    } @if(toast.type === 'info') {
                    <ng-icon name="heroInformationCircle"></ng-icon>
                    } @if(toast.type === 'warn') {
                    <ng-icon name="heroExclamationTriangle"></ng-icon>
                    }
               </div>

               <div class="toast-message" [innerHTML]="toast.message"></div>

               <button class="toast-close" (click)="$event.stopPropagation(); toastService.removeToast(toast.id)">×</button>
          </div>

          }
     </div>
</div>
