@if (accountConfiguratorViewModelService.infoData(); as info) {
<app-summary-container [walletName]="info.walletName" [summaryText]="info.summaryMessage" [itemCount]="info.configItems.length" [buttonLabel]="'configuration items'" [emptyStateMessage]="'No special account configuration detected.'" [emptyStateSubMessage]="'All flags are set to default values.'" [infoPanelExpanded]="infoPanelExpanded()" (toggleInfoPanel)="toggleInfoPanel.emit()">
     <!-- Items List -->
     <div items-list>
          @if (info.hasSpecialConfig) { @for (item of info.configItems; track item.id) {
          <app-summary-item [copyValue]="item.text" copyTooltip="Copy configuration text" (onCopyClick)="copyUtilService.copyAndToast($event, 'Configuration text')">
               <div item-content>{{ item.text }}</div>
          </app-summary-item>
          } @if (info.hasIrreversible) {
          <li class="rounded-xl border border-red-200 bg-red-50 p-4 mt-3">
               <div class="flex gap-3">
                    <ng-icon name="heroExclamationTriangle" size="20" class="text-red-600 flex-shrink-0 mt-0.5" />
                    <div>
                         <strong class="text-red-700">{{ info.irreversibleMessage }}</strong>
                         <p class="text-xs text-red-600 mt-1">These cannot be disabled once set.</p>
                    </div>
               </div>
          </li>
          } }
     </div>
</app-summary-container>
}
