<div class="form-group">
     <label for="selectCredential">Select Credential</label>
     <p class="form-hint">Select an existing credential attached to the current wallet.</p>
     <app-select-search-dropdown [items]="creds().dropdown" [value]="view().selectedCredentialItem" (valueChange)="selectCredential.emit({ item: $event, source: 'dropdown' })" placeholder="Search by type or ID..." emptyMessage="No credentials found"> </app-select-search-dropdown>
</div>

@if (credentialViewModel.selectedCredentialIsExpired()) {
<div class="warning-message expired-warning">
     <ng-icon name="heroExclamationTriangle" size="18" class="text-red-600"></ng-icon>
     This selected credential has expired and cannot be accepted.
</div>
}

<div class="form-row">
     <div class="form-group">
          <label for="issuer">Credential Issuer</label>
          <p class="form-hint">Issuer address of the credential.</p>
          <input type="text" [value]="credentialStore.credentialIssuer()" readonly name="issuer" placeholder="Select a credential above" />
     </div>
     <div class="form-group">
          <label for="issuer">Credential Subject</label>
          <p class="form-hint">Subject address of the credential.</p>
          <input type="text" [value]="credentialStore.subject()" readonly name="deleteSubject" placeholder="Select a credential above" />
     </div>
</div>

<div class="form-row">
     <div class="form-group">
          <label for="credentialId">Credential ID</label>
          <p class="form-hint">Ledger hash containing the credential.</p>
          <input type="text" [value]="credentialStore.credentialID()" readonly name="credentialID" placeholder="Select a credential above" />
     </div>
</div>

<div class="button-row">
     <button type="button" [class]="view().actionButtonClass" (click)="performAction.emit()" [disabled]="!canSubmit() || !credentialViewModel.selectedCredentialIsExpired">{{ view().actionButtonLabel }}</button>
     <button type="button" class="btn-secondary-clear-fields" [disabled]="!canSubmit()" (click)="clearFields.emit()">Clear Fields</button>
</div>
