<div class="banner">
     <div class="banner-content">
          <div id="navbar-container">
               <app-navbar></app-navbar>
          </div>
     </div>
</div>

<!-- Main content. Centered with 2 columns -->
<div class="main-container">
     <div class="content-wrapper">
          <!-- Left Wallet panel ==== -->
          <app-wallet-panel (walletSelected)="onWalletSelected($event)"></app-wallet-panel>

          <!-- <div class="toast" [class.show]="ui.showToast">{{ ui.toastMessage }}</div> -->

          <!-- Right form -->
          <div class="form-panel">
               <!-- Menu bar -->
               <!-- <div class="menu-bar">
                    <button class="menu-btn active" [class.active]="activeTab === 'getAccountDetails'" (click)="setTab('getAccountDetails')">
                         <lucide-icon name="signature" size="30" style="padding-top: 8px; color: #1e40af"></lucide-icon>
                         Sign Transactions
                    </button>
               </div> -->

               <!-- Modify Flag Menu -->
               @if (activeTab === 'getAccountDetails') {
               <div style="padding-top: 2em">
                    <div class="submenu-info-text">
                         <div class="white-button-submenu">
                              <lucide-icon name="signature" size="30" style="padding-top: 15px; color: #1e40af"></lucide-icon>
                         </div>
                         <div>
                              <h2 class="submenu-info-main-text">Sign Transactions</h2>
                              <p class="submenu-info-secondary-text">Sign and submit transactions.</p>
                         </div>
                    </div>
               </div>
               }

               <!-- Dynamic warning panel  -->
               @if (ui.warningMessage) {
               <div class="warning-panel">
                    <ng-icon name="heroExclamationTriangle" size="20" class="text-red-600"></ng-icon>
                    <div class="warning-text">{{ safeWarningMessage }}</div>
               </div>
               }

               <form #theForm="ngForm" class="send-form">
                    <div [@tabTransition]="activeTab">
                         <div class="tab-content-columns">
                              <!-- Left Form Fields -->
                              <div class="tab-content-container form-fields-container">
                                   @if (activeTab === 'getAccountDetails') {
                                   <div>
                                        <div class="form-row">
                                             <div class="form-group">
                                                  <label>Transaction Type</label>
                                                  <select class="dropdownTransactionTypes" id="transactionSelect" [(ngModel)]="selectedTransaction" (ngModelChange)="onTransactionChange()" name="transactionSelect">
                                                       <optgroup label="Basic">
                                                            <option value="batch">Batch</option>
                                                            <option value="sendXrp">Send XRP</option>
                                                       </optgroup>

                                                       <optgroup label="Trustline">
                                                            <option value="setTrustline">Set Trustline</option>
                                                            <option value="removeTrustline">Remove Trustline</option>
                                                            <option value="issueCurrency">Issue Currency</option>
                                                       </optgroup>

                                                       <optgroup label="Account Flags">
                                                            <option value="accountFlagSet">Account Flag Set</option>
                                                            <option value="accountFlagClear">Account Flag Clear</option>
                                                       </optgroup>

                                                       <optgroup label="Escrow">
                                                            <option value="createTimeEscrow">Create Time Escrow</option>
                                                            <option value="finishTimeEscrow">Finish Time Escrow</option>
                                                            <option value="createConditionEscrow">Create Condition Escrow</option>
                                                            <option value="finishConditionEscrow">Finish Condition Escrow</option>
                                                            <option value="cancelEscrow">Cancel Escrow</option>
                                                       </optgroup>

                                                       <optgroup label="Token Escrow">
                                                            <option value="createTimeEscrowToken">Create Token Time Escrow</option>
                                                            <option value="finishTimeEscrowToken">Finish Token Time Escrow</option>
                                                            <option value="createConditionEscrowToken">Create Token Condition Escrow</option>
                                                            <option value="finishConditionEscrowToken">Finish Token Condition Escrow</option>
                                                            <option value="cancelEscrow">Cancel Token Escrow</option>
                                                       </optgroup>

                                                       <optgroup label="Check">
                                                            <option value="createCheck">Check Create</option>
                                                            <option value="cashCheck">Check Cash</option>
                                                            <option value="cancelCheck">Check Cancel</option>
                                                       </optgroup>

                                                       <optgroup label="Token Check">
                                                            <option value="createCheckToken">Check Token Create</option>
                                                            <option value="cashCheckToken">Check Token Cash</option>
                                                            <option value="cancelCheck">Check Token Cancel</option>
                                                       </optgroup>

                                                       <optgroup label="MPT">
                                                            <option value="createMPT">MPT Create</option>
                                                            <option value="authorizeMPT">Authorize MPT</option>
                                                            <option value="unauthorizeMPT">Unauthorize MPT</option>
                                                            <option value="sendMPT">Send MPT</option>
                                                            <option value="lockMPT">Lock MPT</option>
                                                            <option value="unlockMPT">Unlock MPT</option>
                                                            <option value="destroyMPT">Destroy MPT</option>
                                                       </optgroup>
                                                  </select>
                                             </div>
                                        </div>
                                   </div>
                                   }

                                   <!-- Switches -->
                                   <div class="switch-group" style="margin-top: 1em">
                                        <!-- Memo group -->
                                        <label class="switch">
                                             <input type="checkbox" [(ngModel)]="isMemoEnabled" name="isMemoEnabled" />
                                             <span class="slider"></span>
                                             Add Memo
                                        </label>

                                        <!-- Multi Signing Enabled group -->
                                        @if (multiSigningEnabled) {
                                        <label class="switch">
                                             <input type="checkbox" [(ngModel)]="useMultiSign" (ngModelChange)="toggleMultiSign()" name="useMultiSign" />
                                             <span class="slider"></span>
                                             Use Multi-Sign
                                        </label>
                                        }

                                        <!-- Regular Key Signing Enabled-->
                                        @if (regularKeySigningEnabled) {
                                        <label class="switch">
                                             <input type="checkbox" [(ngModel)]="isRegularKeyAddress" (ngModelChange)="toggleMultiSign()" name="isRegularKeyAddress" />
                                             <span class="slider"></span>
                                             Use Regular Key
                                        </label>
                                        }

                                        <!-- Use Ticket for tx -->
                                        @if (ticketArray.length > 0) {
                                        <label class="switch">
                                             <input type="checkbox" [(ngModel)]="isTicket" name="isTicket" />
                                             <span class="slider"></span>
                                             Use Ticket
                                        </label>
                                        }

                                        <!-- Simulate tx -->
                                        <label class="switch">
                                             <input type="checkbox" [(ngModel)]="ui.isSimulateEnabled" name="isSimulateEnabled" (ngModelChange)="ui.toggleSimulate($event)" />
                                             <span class="slider"></span>
                                             Simulate
                                        </label>
                                   </div>

                                   <!-- Memo Field -->
                                   @if (isMemoEnabled) {
                                   <textarea [(ngModel)]="memoField" name="memoField" placeholder="Separate multiple memos with commas" class="memo-input"></textarea>
                                   }

                                   <!-- Sign tx with Mult Sign address -->
                                   @if (useMultiSign) {
                                   <div class="multisign-grid">
                                        <div class="multisign-field">
                                             <label>Signers</label>
                                             <textarea #signers [(ngModel)]="multiSignAddress" name="multiSignAddress" readonly></textarea>
                                        </div>
                                        <div class="multisign-field">
                                             <label>Seeds</label>
                                             <textarea #seeds [(ngModel)]="multiSignSeeds" name="multiSignSeeds" readonly></textarea>
                                        </div>
                                        <div class="multisign-field quorum-field">
                                             <label>Quorum</label>
                                             <input type="text" [(ngModel)]="signerQuorum" name="signerQuorumField" readonly />
                                        </div>
                                   </div>
                                   }

                                   <!-- Sign tx with Regular key address -->
                                   @if (isRegularKeyAddress) {
                                   <div class="regular-key-fields">
                                        <div class="form-row">
                                             <div class="form-group">
                                                  <label>Regular Key Address</label>
                                                  <input type="text" [(ngModel)]="regularKeyAddress" name="regularKeyAddress" readonly />
                                             </div>
                                        </div>
                                        <div class="form-row">
                                             <div class="form-group">
                                                  <label>Regular Key Seed</label>
                                                  <input type="text" [(ngModel)]="regularKeySeed" name="regularKeySeed" readonly />
                                             </div>
                                        </div>
                                   </div>
                                   }

                                   <!-- Get ticket -->
                                   @if (isTicket) {
                                   <div class="ticket-fields">
                                        <div class="form-group">
                                             <label>Ticket Sequence</label>
                                             @if (multiSelectMode) {
                                             <div>
                                                  <select [(ngModel)]="selectedTickets" multiple [ngModelOptions]="{standalone: true}">
                                                       @for (ticket of ticketArray; track ticket) {
                                                       <option [value]="ticket">{{ ticket }}</option>
                                                       }
                                                  </select>
                                             </div>
                                             } @else {
                                             <div>
                                                  <select [(ngModel)]="selectedSingleTicket" [ngModelOptions]="{standalone: true}">
                                                       <option value="" disabled>Select a ticket</option>
                                                       @for (ticket of ticketArray; track ticket) {
                                                       <option [value]="ticket">{{ ticket }}</option>
                                                       }
                                                  </select>
                                             </div>
                                             }
                                        </div>
                                   </div>
                                   }

                                   <!-- Action buttons -->
                                   @if(activeTab === 'getAccountDetails') {
                                   <div class="button-row" style="margin-top: 0.8em">
                                        <button type="button" class="btn-primary-blue" (click)="getTransactionJSON()" [disabled]="buttonLoading.getJson || isAnyButtonLoading">{{ buttonLoading.getJson ? 'Processing...' : 'Get Transaction JSON' }}</button>
                                        <!-- <button type="button" (click)="unsignedTransaction()" class="btn-primary">Unsigned Transaction</button> -->
                                        <button type="button" class="btn-primary-blue" (click)="signedTransaction()" [disabled]="buttonLoading.signed || isAnyButtonLoading">{{ buttonLoading.signed ? 'Processing...' : 'Signed Transaction' }}</button>
                                        <button type="button" class="btn-primary-blue" (click)="submitTransaction()" [disabled]="buttonLoading.submit || isAnyButtonLoading">{{ buttonLoading.submit ? 'Processing...' : 'Submit Transaction' }}</button>
                                        <button type="button" class="btn-primary-blue" (click)="signForMultiSign()" [disabled]="buttonLoading.multiSign || isAnyButtonLoading">{{ buttonLoading.multiSign ? 'Processing...' : 'Sign for Multi-Sign' }}</button>
                                        <!-- <button type="button" (click)="clearFields(true)" class="btn-secondary">Clear Fields</button> -->
                                   </div>
                                   }

                                   <!-- Spinner -->
                                   @if (ui.spinner) {
                                   <div class="spinner-row">
                                        <div class="spinner"></div>
                                        <span>{{ ui.spinnerMessage || 'Loading...' }}</span>
                                   </div>
                                   }

                                   <!-- Success message -->
                                   @if (ui.isSuccess && !ui.isError) {
                                   <div class="success-message">
                                        <lucide-icon name="check" size="20"></lucide-icon>
                                        <div class="success-text">
                                             @if (ui.txHash && !ui.isSimulateEnabled) {
                                             <span>{{ui.successMessage}}</span><br /><br />
                                             <span>Transaction hash: <a [href]="`${url}tx/` + ui.txHash" target="_blank" rel="noopener noreferrer" class="tx-hash-link"> {{ ui.txHash }} </a></span>
                                             } @else {
                                             <span>{{ui.successMessage}}</span>
                                             }

                                             <!-- Multiple Hashes -->
                                             @if (ui.txHashes.length > 1 && !ui.isSimulateEnabled) {
                                             <div class="tx-hashes">
                                                  @for (hash of ui.txHashes; track hash; let i = $index) {
                                                  <div class="tx-hash-item">
                                                       Transaction {{ i + 1 }} hash:
                                                       <a [href]="url + 'tx/' + hash" target="_blank" rel="noopener noreferrer" class="tx-hash-link"> {{ hash }} </a>
                                                  </div>
                                                  }
                                             </div>
                                             }

                                             <!-- Single hash -->
                                             @if (ui.txHashes.length === 1 && !ui.isSimulateEnabled) {
                                             <span>Transaction hash: <a [href]="url + 'tx/' + ui.txHashes[0]" target="_blank" rel="noopener noreferrer" class="tx-hash-link"> {{ ui.txHashes[0] }} </a></span>
                                             }
                                        </div>
                                   </div>
                                   }

                                   <!-- Error message -->
                                   @if (ui.isError && ui.result) {
                                   <div class="tx-message error">
                                        <ng-icon name="heroExclamationCircle" size="20" class="text-red-600"></ng-icon>
                                        <div class="tx-text">
                                             <!-- Display Tx Hash if we are not in simulation mode-->
                                             @if (ui.txHash && !ui.isSimulateEnabled) {
                                             <span>{{ ui.result }}</span><br />
                                             <span>Transaction hash: <a [href]="`${url}tx/` + ui.txHash" target="_blank" rel="noopener noreferrer" class="tx-hash-link"> {{ ui.txHash }} </a></span>
                                             }

                                             <!-- Multiple Hashes -->
                                             @if (ui.txErrorHashes.length > 1 && !ui.isSimulateEnabled) {
                                             <div class="tx-hashes">
                                                  @for (hash of ui.txErrorHashes; track hash; let i = $index) {
                                                  <div class="tx-hash-item">
                                                       Transaction {{ i + 1 }} hash:
                                                       <a [href]="url + 'tx/' + hash" target="_blank" rel="noopener noreferrer" class="tx-hash-link"> {{ hash }} </a>
                                                  </div>
                                                  }
                                             </div>
                                             }

                                             <!-- Single hash -->
                                             @if (ui.txErrorHashes.length === 1 && !ui.isSimulateEnabled) {
                                             <span>Transaction hash: <a [href]="url + 'tx/' + ui.txErrorHashes[0]" target="_blank" rel="noopener noreferrer" class="tx-hash-link"> {{ ui.txErrorHashes[0] }} </a></span>
                                             }@else {
                                             <span>{{ ui.result }}</span><br />
                                             }
                                        </div>
                                   </div>
                                   }

                                   <!-- ==== TRANSACTION JSON (EDITABLE) ==== -->
                                   <div class="tx-preview-container" style="margin-top: 1.5rem">
                                        <div class="tx-header">
                                             <h5 class="tx-title">Transaction JSON</h5>
                                             <div class="tx-actions">
                                                  <button type="button" class="copy-btn" (click)="copyUtilService.copySignTx(txJson)" title="Copy JSON"><ng-icon name="heroClipboardDocumentList" size="20"></ng-icon> Copy</button>
                                                  <button type="button" class="download-btn" (click)="downloadUtilService.downloadSignTxJson(txJson)" title="Download TX JSON"><ng-icon name="heroArrowDownOnSquareStack" size="20"></ng-icon> Download</button>
                                             </div>
                                        </div>

                                        <pre #txJsonPre class="tx-json language-json editable" [ngClass]="{ 'success': ui.isSuccess }" spellcheck="false" contenteditable="true" (blur)="onTxJsonBlur()" (input)="onTxJsonInput()"><code #txJsonCode class="language-json"></code></pre>
                                   </div>

                                   <!-- ==== SIGNED TRANSACTION (EDITABLE) ==== -->
                                   <div class="tx-preview-container" style="margin-top: 1rem">
                                        <div class="tx-header">
                                             <h5 class="tx-title">Signed Transaction</h5>
                                             <div class="tx-actions">
                                                  <button type="button" class="copy-btn" (click)="copyUtilService.copySignedTx(outputField)" title="Copy Signed TX"><ng-icon name="heroClipboardDocumentList" size="20"></ng-icon> Copy</button>
                                                  <button type="button" class="download-btn" (click)="downloadUtilService.downloadSignTxJson(outputField)" title="Download Signed TX"><ng-icon name="heroArrowDownOnSquareStack" size="20"></ng-icon> Download</button>
                                             </div>
                                        </div>

                                        <div #signedEditable id="hashField" spellcheck="false" style="color: #669900" class="tx-json language-json editable" contenteditable="true" [ngClass]="{ 'success': ui.isSuccess }" [textContent]="outputField"></div>
                                   </div>
                              </div>
                         </div>
                    </div>
               </form>

               <!-- Tx Result Preview -->
               @if (ui.txResult.length >0) {
               <div class="tx-preview-container">
                    <div class="tx-header">
                         <h3 class="tx-title">Transaction Result</h3>
                         <div class="tx-actions">
                              <button class="copy-btn" (click)="copyUtilService.copyTxResult()" title="Copy JSON">
                                   <ng-icon name="heroClipboardDocumentList" size="20" class="text-red-600"></ng-icon>
                                   Copy
                              </button>
                              <button class="download-btn" (click)="downloadUtilService.downloadTxResult()" title="Download JSON">
                                   <ng-icon name="heroArrowDownOnSquareStack" size="20" class="text-red-600"></ng-icon>
                                   Download
                              </button>
                         </div>
                    </div>

                    <pre class="tx-json language-json"><code #txResultJson class="language-json"></code></pre>
               </div>
               }
          </div>
     </div>
</div>
