.content-wrapper {
     display: flex !important;
     gap: 1.75rem;
     align-items: flex-start !important;
     padding-top: 20px;
}

.form-panel {
     flex: 1;
     display: flex;
     flex-direction: column;
     overflow: hidden;
}