<div class="banner">
     <div class="banner-content">
          <div id="navbar-container">
               <app-navbar></app-navbar>
          </div>
     </div>
</div>

@let viewModel = paymentChannelViewModelService;

<!-- Main content. -->
<div class="main-container">
     <div class="content-wrapper">
          <!-- Left Wallet panel -->
          <app-wallet-panel (walletSelected)="selectWallet($event)"></app-wallet-panel>

          <!-- Center form -->
          <div class="form-panel">
               <!-- Menu / Tabs -->
               @let tabs = menuTabs;
               <app-tab-menu-with-info [tabs]="tabs" [active]="viewModel.activeTab()" [metaMap]="tabMeta" (activeChange)="setTab($event)"></app-tab-menu-with-info>

               <app-payment-channel-summary [tab]="viewModel.activeTab()" (paymentChannelSelected)="paymentChannelSelected($event)"></app-payment-channel-summary>

               <!-- Warning Message -->
               @if (txUiService.warningMessage) {
               <app-warning-message [warningMessage]="safeWarningMessage()"></app-warning-message>
               }

               <form #theForm="ngForm" class="main-form">
                    <div class="tab-content-columns">
                         <!-- Create -->
                         @if (viewModel.activeTab() === 'createPaymentChannel') {
                         <app-payment-channel-create [destinationItems]="destinationItems()" [selectedDestinationItem]="selectedDestinationItem()" (destinationChanged)="selectedDestinationAddress.set($event?.id || '')" />
                         }

                         <!-- Fund -->
                         @if (viewModel.activeTab() === 'fundPaymentChannel') {
                         <app-payment-channel-fund />
                         }

                         <!-- Claim -->
                         @if (viewModel.activeTab() === 'claimPaymentChannel') {
                         <app-payment-channel-claim></app-payment-channel-claim>
                         }

                         <!-- renewPaymentChannel -->
                         @if (viewModel.activeTab() === 'renewPaymentChannel') {
                         <app-payment-channel-renew></app-payment-channel-renew>
                         }

                         <!-- Close -->
                         @if (viewModel.activeTab() === 'closePaymentChannel') {
                         <app-payment-channel-close></app-payment-channel-close>
                         }

                         <!-- Flags (only for claimPaymentChannel, renewPaymentChannel, closePaymentChannel) -->
                         @if (viewModel.activeTab() === 'claimPaymentChannel' || viewModel.activeTab() === 'renewPaymentChannel' || viewModel.activeTab() === 'closePaymentChannel') {
                         <app-payment-channel-flags></app-payment-channel-flags>
                         }
                    </div>

                    <app-transaction-options [showWhenTab]="['createPaymentChannel', 'fundPaymentChannel', 'claimPaymentChannel', 'renewPaymentChannel', 'closePaymentChannel']" [activeTab]="viewModel.activeTab" [multiSigningEnabled]="accountConfiguratorStoreService.multiSigningEnabled()" [regularKeySigningEnabled]="accountConfiguratorStoreService.regularKeySigningEnabled()" />

                    <!-- Action buttons -->
                    <div class="button-row">
                         @switch (viewModel.activeTab()) { @case ('createPaymentChannel') {
                         <button type="button" class="btn-primary-blue" (click)="handlePaymentChannelAction()" [disabled]="!isIdle()">{{ paymentChannelUtilService.createChannelButtonLabel() }}</button>
                         } @case ('fundPaymentChannel') {
                         <button type="button" class="btn-primary-green" (click)="handlePaymentChannelAction()" [disabled]="!isIdle() || viewModel.selectedIsExpired()">{{ paymentChannelUtilService.fundChannelButtonLabel() }}</button>
                         } @case ('claimPaymentChannel') {
                         <!-- Claim creator mode -->
                         @if(!paymentChannelStoreService.isCreatorMode()) {
                         <button type="button" class="btn-primary-green" (click)="handlePaymentChannelAction()" [disabled]="!isIdle() || viewModel.selectedIsExpired()">{{ paymentChannelUtilService.claimFundsButtonLabel() }}</button>
                         } @else {
                         <button type="button" class="btn-primary-blue" (click)="generateCreatorClaimSignature()" [disabled]="!isIdle() || viewModel.selectedIsExpired()">{{ paymentChannelUtilService.generateClaimSignatureButtonLabel() }}</button>
                         } } @case ('renewPaymentChannel') {
                         <button type="button" class="btn-primary-blue" (click)="handlePaymentChannelAction()" [disabled]="!isIdle()">{{ paymentChannelUtilService.renewChannelButtonLabel() }}</button>
                         } @case ('closePaymentChannel') {
                         <button type="button" class="btn-primary-red" (click)="handlePaymentChannelAction()" [disabled]="!isIdle()">{{ paymentChannelUtilService.closeChannelButtonLabel() }}</button>
                         } }
                         <button type="button" class="btn-secondary-clear-fields" [disabled]="!isIdle()" (click)="clearInputFields()">Clear Fields</button>
                    </div>

                    <!-- Execution time -->
                    <app-execution-time-display [time]="executionTime()"></app-execution-time-display>

                    <!-- Transaction Preview -->
                    <app-transaction-preview></app-transaction-preview>
               </form>
          </div>

          <app-payment-channel-requirements-info [isCollapsed]="paymentChannelStoreService.isCollapsed()"></app-payment-channel-requirements-info>
     </div>
</div>
