<div class="space-y-6">
     <div class="space-y-2">
          @if (activeTab === 'issueCurrency') {
          <label for="formTitle" class="label-primary">{{ viewModel.formTitle() }}</label>
          <p class="text-secondary">{{ viewModel.hintText() }}</p>
          } @else {
          <label for="tokenHolder" class="label-primary">Token Holder</label>
          <p class="text-secondary">The unique address of the account holding the tokens. Select destination from the dropdown or manually enter a new destination.</p>
          }

          <div class="h-[54px]">
               <app-select-search-dropdown [items]="destinationItems()" [value]="selectedDestinationItem()" [searchQueryInput]="destinationSearchQuery()" (searchQueryChange)="searchQueryChange.emit($event)" (valueChange)="destinationChange.emit($event)" placeholder="Enter or select destination address" />
          </div>
     </div>
</div>
