@if (walletsViewModelService.activeTab() === 'deriveSecretNumbers') {
<div class="form-row">
     <div class="form-group">
          <label for="enterSecretNumber">Enter Secret Numbers</label>
          @if (walletsStoreService.secretNumberInput().length > 0) {
          <label for="secretNumber">
               <span [ngClass]="{ valid: walletsStoreService.secretNumberValid(), invalid: !walletsStoreService.secretNumberValid() }"> {{ walletsStoreService.secretNumberValid() ? 'Secret Numbers Valid ✅' : 'Invalid Secret Numbers ❌ ' }} </span>
          </label>
          }
     </div>
</div>

<div class="form-row">
     <div class="form-group">
          <input type="text" [value]="walletsStoreService.secretNumbers()" (input)="walletsStoreService.setField('secretNumbers', $event.target.value); walletsUtilService.onSecretNumberInput()" name="secretNumbers" placeholder="Paste your secret numbers here..." />
          <small class="helper-text">
               Example format:
               <code>123456, 456789, 123456, 456789, 123456, 456789, 123456, 456789</code>
          </small>
     </div>
</div>
}

<!-- Derive Secret Numbers message -->
@if (walletsViewModelService.activeTab() === 'deriveSecretNumbers') {
<div class="info-box" style="margin-top: 16px; margin-bottom: 6px; font-size: 0.9em; opacity: 0.9; padding-left: 0.5em"><strong>Note:</strong> Deriving a Secret Number wallet will always be SECP256K1 encryption.</div>
}

<!-- Derive Secret Numbers Buttons -->
@if (walletsViewModelService.activeTab() === 'deriveSecretNumbers') {
<div class="button-row" style="margin-top: 0em">
     <button type="button" class="btn-primary-blue" (click)="walletConfiguratorComponent.deriveWalletFromSecretNumbers()" [disabled]="walletsStoreService.buttonLoading().deriveWalletFromSecretNumbers || walletsUtilService.isAnyButtonLoading">{{ walletsStoreService.buttonLoading().deriveWalletFromSecretNumbers ? 'Processing...' : 'Derive Wallet from Secret Numbers' }}</button>
     <button type="button" class="btn-secondary-clear-fields" (click)="walletConfiguratorComponent.clearFields(true)">Clear Fields</button>
</div>
}
