<div class="banner">
     <div class="banner-content">
          <div id="navbar-container">
               <app-navbar></app-navbar>
          </div>
     </div>
</div>

@let viewModel = credentialViewModelService;
<!-- Get view -->
@let view = viewModel.vm();
<!-- Get active tab -->
@let tab = view.tab;
<!-- Get credential Vm -->
@let creds = viewModel.credentialVm();

<!-- Main content. -->
<div class="main-container">
     <div class="content-wrapper">
          <!-- Left Wallet panel -->
          <app-wallet-panel (walletSelected)="selectWallet($event)"></app-wallet-panel>

          <!-- Center form -->
          <div class="form-panel">
               <!-- Menu / Tabs -->
               @let tabs = menuTabs;
               <app-tab-menu-with-info [tabs]="tabs" [active]="viewModel.activeTab()" [metaMap]="tabMeta" (activeChange)="setTab($event)"></app-tab-menu-with-info>

               <!-- Get wallet -->
               @let wallet = currentWallet();
               <!-- Info Message -->
               <app-credentials-summary
                    [wallet]="wallet"
                    [view]="{
                    walletName: wallet?.name || 'Selected wallet',
                    summaryMessage: credentialViewModelService.summaryMessage(tab)
               }"
                    [creds]="credentialViewModelService.credentialVm()"
                    [credsLength]="credentialViewModelService.credentialVm().list.length"
                    [tab]="credentialViewModelService.activeTab()"
                    [infoPanelExpanded]="infoPanelExpanded()"
                    (toggleInfoPanel)="toggleInfoPanel()"
                    (credentialSelected)="onCredentialSelected($event)"
               ></app-credentials-summary>

               <!-- Warning Message -->
               @if (txUiService.warningMessage) {
               <app-warning-message [warningMessage]="safeWarningMessage()"></app-warning-message>
               }

               <form #theForm="ngForm" class="main-form">
                    <!-- create -->
                    @if (tab === 'createCredential') {
                    <app-credential-create [view]="view" [destinationItems]="destinationItems()" [selectedDestinationItem]="selectedDestinationItem()" [destinationSearchQuery]="destinationSearchQuery()" [canSubmit]="canSubmit()" (performAction)="performAction()" (clearFields)="clearInputFields()" (searchQueryChange)="handleSearchQueryChange($event)" (destinationChange)="handleDestinationChange($event)"></app-credential-create>
                    }

                    <!-- verify -->
                    @if (tab === 'verifyCredential') {
                    <app-credential-verify [view]="view" [creds]="creds" [canSubmit]="canSubmit()" (performAction)="performAction()" (clearFields)="clearInputFields()" (selectCredential)="selectCredential($event.item, $event.source)"></app-credential-verify>
                    }

                    <!-- accept/delete/verify -->
                    @if (tab !== 'createCredential' && (tab === 'acceptCredential')) {
                    <app-credential-accept [view]="view" [creds]="creds" [canSubmit]="canSubmit()" (performAction)="performAction()" (clearFields)="clearInputFields()" (selectCredential)="selectCredential($event.item, $event.source)"></app-credential-accept>
                    }

                    <!-- delete -->
                    @if (tab === 'deleteCredential') {
                    <app-credential-delete [view]="view" [creds]="creds" [canSubmit]="canSubmit()" (performAction)="performAction()" (clearFields)="clearInputFields()" (selectCredential)="selectCredential($event.item, $event.source)"></app-credential-delete>
                    }

                    <app-credential-transaction-options [activeTab]="tab"></app-credential-transaction-options>

                    <app-transaction-options [showWhenTab]="['createCredential', 'deleteCredential','acceptCredential']" [activeTab]="viewModel.activeTab" [multiSigningEnabled]="accountConfiguratorStoreService.multiSigningEnabled()" [regularKeySigningEnabled]="accountConfiguratorStoreService.regularKeySigningEnabled()"> </app-transaction-options>

                    <!-- Execution time -->
                    <app-execution-time-display [time]="executionTime()"></app-execution-time-display>

                    <!-- Transaction Preview -->
                    <app-transaction-preview></app-transaction-preview>
               </form>
          </div>

          <app-requirements-info [activeTab]="tab" />
     </div>
</div>
