<!-- Destination Tag & Source Tag -->
<div class="form-row">
     <div class="form-group">
          <label for="destinationTag">Destination Tag</label>
          <p class="form-hint">Arbitrary tag that identifies the reason for the payment.</p>

          <input type="text" placeholder="e.g. 123456" [ngModel]="txUiService.destinationTagField()" (ngModelChange)="txUiService.destinationTagField.set($event)" />
     </div>

     <div class="form-group">
          <label for="sourceTag">Source Tag</label>
          <p class="form-hint">Identify which internal user, wallet, or sub-account initiated a payment.</p>

          <input type="text" placeholder="e.g. 456789" [ngModel]="txUiService.sourceTagField()" (ngModelChange)="txUiService.sourceTagField.set($event)" />
     </div>
</div>

<!-- Invoice ID -->
<div class="form-row">
     <div class="form-group">
          <label for="invoiceId">Invoice ID</label>
          <p class="form-hint">
               64-character hexadecimal string (e.g. sha256 hash).
               <a href="https://xrpl.org/docs/references/protocol/transactions/types/payment#invoiceid" target="_blank" class="external-link"> Learn more </a>
          </p>
          <input type="text" placeholder="64 hex chars (optional)" [ngModel]="txUiService.invoiceIdField()" (ngModelChange)="txUiService.invoiceIdField.set($event)" maxlength="64" pattern="[0-9a-fA-F]{0,64}" />
     </div>
</div>
