<div class="banner">
     <div class="banner-content">
          <div id="navbar-container">
               <app-navbar></app-navbar>
          </div>
     </div>
</div>

<!-- Main content. -->
<div class="main-container">
     <div class="content-wrapper">
          <!-- Left Wallet panel -->
          <app-wallet-panel (walletSelected)="selectWallet($event)"></app-wallet-panel>

          <!-- Center form -->
          <div class="form-panel">
               <!-- Menu / Tabs -->
               @let tabs = menuTabs;
               <app-tab-menu-with-info [tabs]="tabs" [active]="walletsViewModelService.activeTab()" [metaMap]="tabMeta" (activeChange)="setTab($event)"></app-tab-menu-with-info>

               <!-- Warning Message -->
               @if (txUiService.warningMessage) {
               <app-warning-message [warningMessage]="safeWarningMessage()"></app-warning-message>
               }

               <form #theForm="ngForm" class="main-form">
                    <!-- Derive Seed -->
                    <app-wallet-derive-seed></app-wallet-derive-seed>

                    <!-- Derive Mnemonic -->
                    <app-wallet-derive-mnemonic></app-wallet-derive-mnemonic>

                    <!-- Derive Secret Numbers -->
                    <app-wallet-derive-secret-numbers></app-wallet-derive-secret-numbers>

                    <!-- Remove custom wallets -->
                    <app-wallet-remove-custom-wallet></app-wallet-remove-custom-wallet>

                    <!-- Generate buttons -->
                    <app-wallet-generate></app-wallet-generate>

                    <!-- Remove custom wallets button -->
                    @if (walletsViewModelService.activeTab() === 'removeCustomWallets') {
                    <div class="button-row" style="margin-top: 0em">
                         <button type="button" class="btn-primary-red" (click)="removeCustomWallet()" [disabled]="!walletsStoreService.selectedAddress()">{{ walletsStoreService.buttonLoading().deriveWalletFromSecretNumbers ? 'Processing...' : 'Remove Custom Wallet' }}</button>
                    </div>
                    }
               </form>

               <!-- Execution time -->
               <app-execution-time-display [time]="walletConfiguratorOrchestrator.executionTimeValue()"></app-execution-time-display>

               <!-- Transaction Preview -->
               <app-transaction-preview></app-transaction-preview>
          </div>

          <app-wallet-generator-requirements-info></app-wallet-generator-requirements-info>
     </div>
</div>
