@if (escrowTransactionViewModelService.infoData(); as info) {
<app-summary-container [walletName]="info?.walletName || ''" [summaryText]="summaryText()" [itemCount]="info?.escrowCount || 0" [links]="info?.links || null" [buttonLabel]="'escrows'" [emptyStateMessage]="emptyStateMessage()" [infoPanelExpanded]="infoPanelExpanded()" (toggleInfoPanel)="toggleInfoPanel.emit()">
     <!-- Items List -->
     <div items-list>
          @for (escrow of info?.escrowsToShow || []; track escrow.EscrowSequence) {
          <app-summary-item [selected]="escrow.EscrowSequence === escrowUtilService.selectedEscrowSequenceNumber()" [isExpired]="escrow.isExpired" [class.border-red-200]="escrow.isExpired" [copyValue]="escrow.EscrowSequence.toString()" copyTooltip="Copy Escrow ID" (onClick)="onEscrowClick(escrow)" (onCopyClick)="copyUtilService.copyAndToast($event, 'Escrow ID')">
               <div item-content>
                    @switch (escrow.tab) { @case ('createEscrow') {
                    <app-escrow-create-item [escrow]="castToCreateEscrow(escrow)" (escrowSelected)="onEscrowClick($event)" />
                    } @case ('finishEscrow') {
                    <app-escrow-finish-item [escrow]="castToFinishEscrow(escrow)" (escrowSelected)="onEscrowClick($event)" />
                    } @case ('cancelEscrow') {
                    <app-escrow-cancel-item [escrow]="castToCancelEscrow(escrow)" (escrowSelected)="onEscrowClick($event)" />
                    } }
               </div>
          </app-summary-item>
          }
     </div>
</app-summary-container>
}
