<!-- Get view -->
@let viewModel = offerTransactionViewModelService;
<!-- Get active tab -->
@let tab = viewModel.activeTab();

<div class="p-1">
     <div>
          <!-- Menu / Tabs -->
          <app-tab-menu-with-info [tabs]="tabs" [active]="tab" [metaMap]="tabMeta" (activeChange)="setTab($event)"> </app-tab-menu-with-info>

          <!-- Info / Summary -->
          <app-offer-summary [infoPanelExpanded]="infoPanelExpanded()" (toggleInfoPanel)="toggleInfoPanel()"> </app-offer-summary>

          <!-- Warning Message -->
          @if (txUiService.warningMessage) {
          <div class="mt-4">
               <app-warning-message [warningMessage]="safeWarningMessage()"></app-warning-message>
          </div>
          }

          <!-- Form -->
          <form #theForm="ngForm" class="mt-4">
               <!-- Dynamic Form Fields -->
               <app-offer-fields [tab]="tab" (weWantCurrencySelected)="onWeWantCurrencySelected($event)" (weWantIssuerSelected)="onWeWantIssuerSelected($event)" (weSpendCurrencySelected)="onWeSpendCurrencySelected($event)" (weSpendIssuerSelected)="onWeSpendIssuerSelected($event)" (weWantAmountChange)="handleWeWantAmountChange()" (weSpendAmountChange)="handleWeSpendAmountChange()" (invertOrder)="invertOrder()" />

               <!-- Transaction Options -->
               <div class="mt-6">
                    <app-transaction-options [showWhenTab]="['createOffer', 'cancelOffer']" [activeTab]="viewModel.activeTab" [multiSigningEnabled]="accountConfiguratorStoreService.multiSigningEnabled()" [regularKeySigningEnabled]="accountConfiguratorStoreService.regularKeySigningEnabled()"> </app-transaction-options>
               </div>

               <!-- Action Buttons -->
               <div class="mt-6 flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between">
                    <button type="button" [class]="offerUtilsService.actionButtonClass()" (click)="performAction()" [disabled]="!isIdle() || !hasWallets()">{{ offerUtilsService.actionButtonLabel() }}</button>

                    @if (tab === 'createOffer' || tab === 'getOrderBook') {
                    <button type="button" class="btn-primary whitespace-nowrap" (click)="invertOrder()" [disabled]="!isIdle() || !hasWallets()">Invert Order</button>
                    }

                    <button type="button" (click)="clearInputFields()" [disabled]="!isIdle() || !hasWallets()" class="btn-secondary whitespace-nowrap">Clear Fields</button>
               </div>

               <!-- Execution Time -->
               <div class="mt-3 text-sm text-gray-500">
                    <app-execution-time-display [time]="executionTime()"></app-execution-time-display>
               </div>

               <!-- Transaction Preview -->
               <div class="pt-2">
                    <app-transaction-preview></app-transaction-preview>
               </div>
          </form>
     </div>
</div>
