@import url('./assets/modular-tutorials.css');
@import url('https://fonts.googleapis.com/css?family=Work+Sans');

/* Ensure page-container is applied */
body {
     margin: 0;
     padding: 0;
     font-family: 'Work Sans', sans-serif;
}

.page-container {
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100%;
}

html,
body {
     height: 100%;
}

body {
     margin: 0;
     font-family: Roboto, "Helvetica Neue", sans-serif;
}