<div class="space-y-6">
     <div class="card-base">
          <h4 class="section-heading">
               <lucide-icon name="lucideBadgeInfo" class="section-heading-icon-green"></lucide-icon>
               NFT Details
          </h4>

          <!-- Select NFT -->
          <div class="space-y-2">
               <label for="selectNFt" class="label-primary">Select NFT</label>
               <p class="text-secondary">Select an existing NFT to burn.</p>

               <div class="h-[54px]">
                    <app-select-search-dropdown [items]="nftUtilService.nftItems()" [value]="nftUtilService.selectedNftItem()" (valueChange)="onNftSelected($event)" placeholder="Search by ID or URI..." emptyMessage="No NFTs found" />
               </div>
          </div>

          <!-- NFT Token ID -->
          <div class="space-y-2" style="margin-top: 1.5rem">
               <label for="nftTokenId" class="label-primary">NFT Token ID</label>
               <p class="text-secondary">NFT Token ID generated when the NFT was created.</p>

               <input type="text" [(ngModel)]="nftCreateStoreService.nftId" name="nftIdField" class="input-base" />
          </div>
     </div>
</div>
