<div class="nav-container">
     <div class="network-dropdown network network-{{ selectedNetwork | lowercase }}">
          <button class="btn dropdown-toggle" type="button" id="networkDropdownButton" (click)="toggleNetworkDropdown()" [style.backgroundColor]="networkColor">
               <div class="dropdown-toggle-text">{{ selectedNetwork }}</div>
               <svg class="arrow" [ngClass]="{ open: isNetworkDropdownOpen }" viewBox="0 0 12 12" width="12" height="12">
                    <path fill="black" d="M2 4l4 4 4-4H2z" />
               </svg>
          </button>
          <div class="dropdown-menu" [ngStyle]="{ display: isNetworkDropdownOpen ? 'block' : 'none' }">
               <a class="dropdown-item devnet" href="#" (click)="selectNetwork('devnet'); $event.preventDefault()" [ngClass]="{ active: selectedNetwork === 'Devnet' }"> Devnet </a>
               <a class="dropdown-item testnet" href="#" (click)="selectNetwork('testnet'); $event.preventDefault()" [ngClass]="{ active: selectedNetwork === 'Testnet' }"> Testnet </a>
               <a class="dropdown-item mainnet" href="#" (click)="selectNetwork('mainnet'); $event.preventDefault()" [ngClass]="{ active: selectedNetwork === 'Mainnet' }"> Mainnet </a>
          </div>
     </div>

     <!-- Add date/time display below network dropdown -->
     <!-- <div class="current-datetime">{{ currentDateTime }}</div> -->

     <!-- <nav id="navbar" class="navbar" [style.backgroundColor]="navbarColor"> -->
     <nav id="navbar" class="navbar">
          <div class="navbar-container">
               <div class="navbar-links">
                    <div class="dropdown accounts-dropdown" [ngClass]="{ active: isAccountsDropdownActive }">
                         <a href="#" class="dropdown-toggle" aria-label="Toggle Accounts dropdown" (click)="toggleAccountsDropdown($event)">Accounts ▾</a>
                         <div class="dropdown-menu">
                              <a routerLink="/account-changes" routerLinkActive="active" (click)="setActiveAccountsLink('/account-changes')">Balance Changes</a>
                              <a routerLink="/account-configurator" routerLinkActive="active" (click)="setActiveAccountsLink('/account-configurator')">Configurator</a>
                              <a routerLink="/create-credentials" routerLinkActive="active" (click)="setActiveAccountsLink('/create-credentials')">Create Credentials</a>
                              <a routerLink="/create-did" routerLinkActive="active" (click)="setActiveAccountsLink('/create-did')">Create DID</a>
                              <a routerLink="/account-delegate" routerLinkActive="active" (click)="setActiveAccountsLink('/account-delegate')">Delegate</a>
                              <a routerLink="/delete-account" routerLinkActive="active" (click)="setActiveAccountsLink('/delete-account')">Delete Account</a>
                              <a routerLink="/firewall" routerLinkActive="active" (click)="setActiveAccountsLink('/firewall')">Firewall</a>
                              <a routerLink="/permissioned-domain" routerLinkActive="active" (click)="setActiveAccountsLink('/permissioned-domain')">Permissioned Domain</a>
                         </div>
                    </div>

                    <!-- <a routerLink="/send-xrp" routerLinkActive="active" (click)="setActiveLink('/send-xrp')">Send XRP</a> -->
                    <a routerLink="/send-xrp" routerLinkActive="active" (click)="setActiveLink('/send-xrp')">Send XRP</a>
                    <a routerLink="/sign-transactions" routerLinkActive="active" (click)="setActiveLink('/sign-transactions')">Sign Transactions</a>
                    <a routerLink="/trustlines" routerLinkActive="active" (click)="setActiveLink('/trustlines')">Trustlines</a>
                    <a routerLink="/create-payment-channel" routerLinkActive="active" (click)="setActiveLink('/create-payment-channel')"> Payment Channel </a>

                    <div class="dropdown escrows-dropdown" [ngClass]="{ active: isEscrowsDropdownActive }">
                         <a href="#" class="dropdown-toggle" aria-label="Toggle Escrows dropdown" (click)="toggleEscrowsDropdown($event)">Escrows ▾</a>
                         <div class="dropdown-menu">
                              <a routerLink="/create-time-escrow" routerLinkActive="active" (click)="setActiveEscrowLink('/create-time-escrow')">Create Time Escrow</a>
                              <a routerLink="/create-conditional-escrow" routerLinkActive="active" (click)="setActiveEscrowLink('/create-conditional-escrow')">Create Conditional Escrow</a>
                         </div>
                    </div>

                    <a routerLink="/send-checks" routerLinkActive="active" (click)="setActiveLink('/send-checks')">Checks</a>
                    <a routerLink="/create-tickets" routerLinkActive="active" (click)="setActiveLink('/create-tickets')">Tickets</a>
                    <a routerLink="/create-offer" routerLinkActive="active" (click)="setActiveLink('/create-offer')">Offers</a>
                    <a routerLink="/create-amm" routerLinkActive="active" (click)="setActiveLink('/create-amm')">AMM</a>

                    <div class="dropdown escrows-dropdown" [ngClass]="{ active: isNftDropdownActive }">
                         <a href="#" class="dropdown-toggle" aria-label="Toggle NFT dropdown" (click)="toggleNftDropdown($event)">NFTs ▾</a>
                         <div class="dropdown-menu">
                              <a routerLink="/create-nft" routerLinkActive="active" (click)="setActiveLink('/create-nft')">NFT Mint</a>
                              <a routerLink="/nft-offers" routerLinkActive="active" (click)="setActiveLink('/nft-offers')">NFT Offers</a>
                         </div>
                    </div>

                    <div class="dropdown escrows-dropdown" [ngClass]="{ active: isMptDropdownActive }">
                         <a href="#" class="dropdown-toggle" aria-label="Toggle MPT dropdown" (click)="toggleMptDropdown($event)">MPTs ▾</a>
                         <div class="dropdown-menu">
                              <a routerLink="/mpt" routerLinkActive="active" (click)="setActiveLink('/mpt')">Create MPT</a>
                              <a routerLink="/mpt-send" routerLinkActive="active" (click)="setActiveLink('/mpt-send')">Send MPT</a>
                              <a routerLink="/mpt-lock-destroy" routerLinkActive="active" (click)="setActiveLink('/mpt-lock-destroy')">Lock/Destroy MPT</a>
                         </div>
                    </div>

                    <!-- <a routerLink="/mpt" routerLinkActive="active" (click)="setActiveLink('/mpt')">MPT</a> -->
                    <!-- <a routerLink="/fiat-on-off-ramp" routerLinkActive="active" (click)="setActiveLink('/fiat-on-off-ramp')"> Fiat On/Off Ramp </a> -->

                    <!-- <div class="dropdown utils-dropdown" [ngClass]="{ active: isUtilsDropdownOpen }">
                         <a href="#" class="dropdown-toggle" aria-label="Toggle Utils dropdown" (click)="toggleUtilsDropdown($event)">Utils ▾</a>
                         <div class="dropdown-menu">
                              <a href="#" class="noColor" (click)="clearFields($event)">Clear Input Fields</a>
                              <a href="#" class="noColor" (click)="disconnectClient($event)">Close XRPL Connection</a>
                              <a href="#" class="noColor" (click)="gatherAccountInfo($event)">Gather Account Info</a>
                              <a href="#" class="noColor" (click)="distributeAccountInfo($event)">Distribute Account Info</a>
                         </div>
                    </div> -->
               </div>
          </div>
     </nav>
</div>
