<div class="space-y-2">
     <div class="card-base">
          <h4 class="section-heading">
               <ng-icon name="heroTicket" class="section-heading-icon-green"></ng-icon>
               Ticket Details
          </h4>

          <div>
               <div class="field-label">
                    <label for="xrpAmount" class="label-primary">Number of Tickets to Create <span class="text-red-500">*</span></label>
               </div>

               <div class="flex items-center gap-2">
                    <p class="text-secondary">Number of Tickets to create for the selected account.</p>
                    <button type="button" (click)="toggleTicketCountHelper()" class="text-gray-400 hover:text-gray-600 pb-2">
                         <ng-icon name="heroQuestionMarkCircle" size="14" />
                    </button>
               </div>

               <div class="relative">
                    <input
                         type="text"
                         inputmode="decimal"
                         class="input-base-with-validation"
                         app-focus-border
                         [isValid]="amountValidatorService.isTicketCreateAmountValid()"
                         [isInvalid]="amountValidatorService.isTicketCreateAmountInvalid()"
                         (keydown)="utilsService.preventNegative($event)"
                         (input)="amountValidatorService.onAmountInput($event,'ticketCreate')"
                         (blur)="amountValidatorService.onAmountBlur($event,'ticketCreate')"
                         (keypress)="amountValidatorService.onAmountKeyPress($event)"
                         (input)="amountValidatorService.onAmountInput($event,'ticketCreate')"
                         [ngModel]="xrplTxOptionsStore.ticketCountField()"
                         (ngModelChange)="xrplTxOptionsStore.setField('ticketCountField', $event)"
                         placeholder="e.g. 11"
                    />

                    <!-- Icons Container -->
                    <app-input-icons [isValid]="amountValidatorService.isTicketCreateAmountValid()" [isInvalid]="amountValidatorService.isTicketCreateAmountInvalid()" [showClear]="!!xrplTxOptionsStore.ticketCountField()" (clear)="this.xrplTxOptionsStore.setField('ticketCountField', '')" />
               </div>

               <app-field-helper title="Number of Tickets" [items]="ticketCountHelperItems" [show]="showTicketCountHelper" />
          </div>
     </div>

     <!-- Summary of validation errors -->
     <app-validation-errors [errors]="validationErrorMessages()" title="Ticket creation issues:" />
</div>
