<div class="space-y-6">
     <div class="card-base">
          <h4 class="section-heading">
               <lucide-icon name="handshake" class="section-heading-icon-green"></lucide-icon>
               NFT Offer Details
          </h4>

          <!-- NFT Offer Index -->
          <div class="space-y-2">
               <label for="nftOfferIndex" class="label-primary">NFT Offer Index</label>
               <p class="text-secondary">NFT Offer Index generated when the offer was created.</p>

               <input type="text" [(ngModel)]="nftCreateStoreService.nftOfferId" name="nftIndexField" class="input-base" />
          </div>

          <!-- NFT Token ID -->
          <div class="space-y-2">
               <label for="nftTokenID" class="label-primary">NFT Token ID</label>
               <p class="text-secondary">NFT Token ID generated when the NFT was created.</p>

               <input type="text" [(ngModel)]="nftCreateStoreService.nftId" name="nftIdField" class="input-base" />
          </div>
     </div>
</div>
