<!-- Spinner / progress (shown during preparing → waiting_validation) -->
@if (txUiService.currentStep() !== 'idle' && txUiService.currentStep() !== 'success' && txUiService.currentStep() !== 'failed' && txUiService.isSignedTx() === false) {
<div class="flex flex-col items-center gap-3 p-4 bg-white rounded-2xl shadow-lg border border-blue-200 mt-3 mb-5">
     <div class="relative">
          <div class="w-8 h-8 border-2 border-blue-200 border-t-green-600 rounded-full animate-spin"></div>
          <lucide-icon name="loader" size="16" class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-green-600"> </lucide-icon>
     </div>

     <div class="text-center">
          <p class="text-xs font-medium text-blue-900">{{ txUiService.stepMessage() }}</p>

          @if (txUiService.detailedStatus()) {
          <p class="text-[11px] text-blue-500 mt-0.5">{{ txUiService.detailedStatus() }}</p>
          }
     </div>
</div>
}

<!-- Tx Preview -->
@if (txUiService.txSignal().length > 0) {
<div class="mt-0">
     @for (tx of txUiService.txSignal(); track $index) {
     <div class="bg-white rounded-2xl overflow-hidden border border-gray-200 shadow-sm">
          <!-- Header with actions -->
          <!-- <div class="flex items-center justify-between px-6 py-4 bg-gradient-to-r from-gray-50 to-white border-b border-gray-200">
               <div class="flex items-center gap-2">
                    <lucide-icon name="lucideZap" size="15" class="text-blue-600 dark:text-blue-400"></lucide-icon>
                    <p class="text-sm font-semibold text-gray-700 p-0 m-0">Transaction Preview</p>
               </div>
          </div> -->

          <!-- Preview Content -->
          <div class="p-6">
               @if (tx) {
               <app-transaction-previewer [transactionData]="tx" [accountInfo]="accountConfiguratorStoreService.accountInfo"></app-transaction-previewer>
               }
          </div>
     </div>
     }
</div>
}

<!-- Tx Result Preview -->
@if (txUiService.txResultSignal().length > 0) {
<div class="mt-4 bg-white rounded-2xl overflow-hidden border border-white-200 shadow-sm">
     <!-- Header -->
     <!-- <div class="flex items-center justify-between px-6 py-4 bg-gradient-to-r from-gray-50 to-white border-b border-gray-200">
          <div class="flex items-center gap-2">
               <lucide-icon name="lucideZap" size="15" class="text-blue-600 dark:text-blue-400"></lucide-icon>
               <p class="text-sm font-semibold text-gray-700 p-0 m-0">Transaction Result</p>
          </div>
     </div> -->

     <!-- Result Content -->
     <div class="p-6">
          @for (result of txUiService.txResultSignal(); track $index) {
          <app-transaction-results [resultData]="result" [explorerUrl]="txUiService.explorerUrl()"></app-transaction-results>
          }
     </div>
</div>
}
