<div class="banner">
     <div class="banner-content">
          <div id="navbar-container">
               <app-navbar></app-navbar>
          </div>
     </div>
</div>

<!-- Get active tab -->
@let tab = didViewModelService.activeTab();
<!-- Get tab data -->
@let tabs = menuTabs;
<!-- Info Data -->
@let info = didViewModelService.infoData();

<!-- Main content. -->
<div class="main-container">
     <div class="content-wrapper">
          <!-- Left Wallet panel -->
          <app-wallet-panel (walletSelected)="selectWallet($event)" />

          <!-- Center form -->
          <div class="form-panel">
               <!-- Menu / Tabs -->
               <app-tab-menu-with-info [tabs]="tabs" [active]="didViewModelService.activeTab()" [metaMap]="tabMeta" (activeChange)="setTab($event)" />

               <!-- Info Message -->
               <app-did-summary [info]="info" [infoPanelExpanded]="infoPanelExpanded()" (toggleInfoPanel)="toggleInfoPanel()" />

               <!-- Warning Message -->
               @if (txUiService.warningMessage) {
               <app-warning-message [warningMessage]="safeWarningMessage()" />
               }

               <form #theForm="ngForm" class="main-form">
                    @switch (tab) { @case ('setDid') {
                    <app-did-set [view]="didViewModelService" [canSubmit]="canSubmit()" (performAction)="performAction()" (clearFields)="clearInputFields()" />
                    } @case ('deleteDid') {
                    <app-did-delete [view]="didViewModelService" [canSubmit]="canSubmit()" (performAction)="performAction()" (clearFields)="clearInputFields()" />
                    } }

                    <!-- Only show buttons and sliders if there is no DID set or we are on the delete DID tab -->
                    @if ((tab === 'setDid' && didStoreService.existingDid().length <= 0) || tab === 'deleteDid') {
                    <app-transaction-options [showWhenTab]="['setDid','deleteDid']" [activeTab]="didViewModelService.activeTab" [multiSigningEnabled]="accountConfiguratorStoreService.multiSigningEnabled()" [regularKeySigningEnabled]="accountConfiguratorStoreService.regularKeySigningEnabled()" />
                    }

                    <!-- Execution time -->
                    <app-execution-time-display [time]="executionTime()" />

                    <!-- Transaction Preview -->
                    <app-transaction-preview />
               </form>
          </div>

          <app-requirements-info [activeTab]="tab" />
     </div>
</div>
