<!-- Get view -->
@let view = deleteAccountViewModelService;

<div class="p-1">
     <div>
          <!-- Menu / Tabs (kept for consistency even if empty) -->
          <app-tab-menu-with-info [tabs]="[]" [active]="view.activeTab()" [metaMap]="tabMeta" (activeChange)="setTab($event)"> </app-tab-menu-with-info>

          <!-- Info / Summary -->
          <app-account-delete-summary [info]="view.infoData()" [infoPanelExpanded]="infoPanelExpanded()" (toggleInfoPanel)="toggleInfoPanel()"> </app-account-delete-summary>

          <!-- Warning Message -->
          @if (txUiService.warningMessage) {
          <app-warning-message [warningMessage]="safeWarningMessage()"></app-warning-message>
          }

          <!-- Form -->
          <form #theForm="ngForm">
               <app-account-delete-form
                    [view]="deleteAccountViewModelService"
                    [info]="view.infoData()"
                    [destinationItems]="destinationItems()"
                    [selectedDestinationItem]="selectedDestinationItem()"
                    [destinationSearchQuery]="destinationSearchQuery()"
                    [wantsOptions]="txUiService.wantsOptions()"
                    [canSubmit]="canSubmit()"
                    [tab]="view.activeTab()"
                    (performAction)="deleteAccount()"
                    (clearFields)="clearInputFields()"
                    (searchQueryChange)="handleSearchQueryChange($event)"
                    (destinationChange)="handleDestinationChange($event)"
                    (toggleOptions)="txUiService.toggleOptions($event)"
               >
               </app-account-delete-form>

               <!-- Execution Time -->
               <div class="text-sm text-gray-500 mt-3">
                    <app-execution-time-display [time]="executionTime()"></app-execution-time-display>
               </div>

               <!-- Transaction Preview -->
               <div class="pt-2">
                    <app-transaction-preview></app-transaction-preview>
               </div>
          </form>
     </div>
</div>
