<!-- Get view -->
@let viewModel = escrowTransactionViewModelService;
<!-- Get active tab -->
@let tab = viewModel.activeTab();

<div class="p-1">
     <div>
          <!-- Menu / Tabs -->
          <app-tab-menu-with-info [tabs]="timeMenuTabs" [active]="tab" [metaMap]="timeTabMeta" (activeChange)="setTab($event)"> </app-tab-menu-with-info>

          <!-- Warning Message -->
          @if (txUiService.warningMessage) {
          <app-warning-message [warningMessage]="safeWarningMessage()"></app-warning-message>
          }

          <!-- Main Form Area -->
          <form #theForm="ngForm">
               <!-- Dynamic Content -->
               @if (tab === 'createEscrow') {
               <app-escrows-create
                    [currentAddress]="currentAddress()"
                    [lastIntendedDestination]="lastIntendedDestination()"
                    [selectedDestinationAddress]="selectedDestinationAddress()"
                    [wantsOptions]="txUiService.wantsOptions()"
                    [canSubmit]="canSubmit()"
                    [tab]="tab"
                    (clearFields)="clearInputFields()"
                    (searchQueryChange)="handleSearchQueryChange($event)"
                    (destinationChange)="handleDestinationChange($event)"
                    (toggleOptions)="txUiService.toggleOptions($event)"
                    (canCreateEscrowChange)="handleCanCreateEscrowChange($event)"
               ></app-escrows-create>
               } @else if (tab === 'finishEscrow') {
               <app-escrows-finish></app-escrows-finish>
               } @else if (tab === 'cancelEscrow') {
               <app-escrows-cancel></app-escrows-cancel>
               }

               <!-- Transaction Options -->
               <app-transaction-options [showWhenTab]="['createEscrow', 'finishEscrow', 'cancelEscrow']" [activeTab]="viewModel.activeTab" [multiSigningEnabled]="accountConfiguratorStoreService.multiSigningEnabled()" [regularKeySigningEnabled]="accountConfiguratorStoreService.regularKeySigningEnabled()"> </app-transaction-options>

               <!-- Action Buttons -->
               <div class="main-button-section">
                    <app-button-tooltip [tooltipText]="getButtonTooltip()">
                         @if (tab === 'createEscrow') {
                         <button type="button" class="btn-primary whitespace-nowrap" [class.opacity-50]="!canPerformAction()" [attr.aria-disabled]="!canPerformAction()" [attr.tabindex]="!canPerformAction() ? 0 : null" (click)="canPerformAction() ? performAction() : null" [disabled]="false">{{ escrowUtilService.createEscrowButtonLabel() }}</button>
                         } @else if (tab === 'finishEscrow') {
                         <button type="button" class="btn-blue whitespace-nowrap" [class.opacity-50]="!canPerformAction()" [attr.aria-disabled]="!canPerformAction()" [attr.tabindex]="!canPerformAction() ? 0 : null" (click)="canPerformAction() ? performAction() : null" [disabled]="false">{{ escrowUtilService.finishEscrowButtonLabel() }}</button>
                         } @else if (tab === 'cancelEscrow') {
                         <button type="button" class="btn-red whitespace-nowrap" [class.opacity-50]="!canPerformAction()" [attr.aria-disabled]="!canPerformAction()" [attr.tabindex]="!canPerformAction() ? 0 : null" (click)="canPerformAction() ? performAction() : null" [disabled]="false">{{ escrowUtilService.cancelEscrowButtonLabel() }}</button>
                         }
                    </app-button-tooltip>

                    <!-- Clear Fields -->
                    <div class="right-buttons">
                         <button type="button" (click)="clearInputFields()" [disabled]="!isIdle() || !hasWallets()" class="btn-secondary whitespace-nowrap">Clear Fields</button>
                    </div>
               </div>

               <!-- Execution Time -->
               <div class="execution-time">
                    <app-execution-time-display [time]="executionTime()"></app-execution-time-display>
               </div>

               <!-- Transaction Preview -->
               <div class="pt-2">
                    <app-transaction-preview></app-transaction-preview>
               </div>
          </form>
     </div>
</div>
