<div class="form-row">
     <!-- Subject -->
     <div class="form-group">
          <label for="destinationSubject">Subject</label>
          <p class="form-hint">The subject of the credential.</p>
          <app-select-search-dropdown [items]="destinationItems()" [value]="selectedDestinationItem()" [searchQueryInput]="destinationSearchQuery()" (searchQueryChange)="handleSearchQueryChange($event)" (valueChange)="handleDestinationChange($event)" placeholder="Enter or select destination address"> </app-select-search-dropdown>
     </div>

     <!-- Credential Type-->
     <div class="form-group">
          <label for="credentialType">Credential Type</label>
          <p class="form-hint">A hex-encoded value to identify the type of credential from the issuer.</p>
          <input type="text" [value]="credentialStore.credentialType()" (input)="credentialUtilService.setCredentialType($event.target.value)" name="credential_type" placeholder="Enter a credential type" />
     </div>
</div>

<mat-slide-toggle class="mini-toggle" [checked]="txUiService.wantsOptions()" (change)="txUiService.toggleOptions($event.checked)">Include optional fields (URI and Expiration Date)</mat-slide-toggle>

@if (txUiService.wantsOptions()) {
<app-transaction-options-section [activeTab]="'createCredential'"></app-transaction-options-section>
}

<div class="button-row">
     <button type="button" [class]="view().actionButtonClass" (click)="performAction.emit()" [disabled]="!canSubmit()|| !connectionGuard.isConnectionReady()">{{ view().actionButtonLabel }}</button>
     <button type="button" class="btn-secondary-clear-fields" [disabled]="!canSubmit() || !connectionGuard.isConnectionReady()" (click)="clearFields.emit()">Clear Fields</button>
</div>
