<div class="form-row">
     <!-- Subject -->
     <div class="form-group">
          <label for="destinationSubject">Subject</label>
          <p class="form-hint">The subject of the credential.</p>
          <app-select-search-dropdown [items]="destinationItems()" [value]="selectedDestinationItem()" [searchQueryInput]="destinationSearchQuery()" (searchQueryChange)="handleSearchQueryChange($event)" (valueChange)="handleDestinationChange($event)" placeholder="Enter or select destination address"> </app-select-search-dropdown>
     </div>

     <!-- Credential Type-->
     <div class="form-group">
          <label for="credentialType">Credential Type</label>
          <p class="form-hint">A hex-encoded value to identify the type of credential from the issuer.</p>
          <input type="text" [value]="credentialStore.credentialType()" (input)="credentialUtilService.setCredentialType($event.target.value)" name="credential_type" placeholder="Enter a credential type" />
     </div>
</div>

<!-- Credential Expiration and URI -->
<div class="form-row">
     <!-- URI -->
     <div class="form-group">
          <label for="uri">URI (optional)</label>
          <p class="form-hint">Additional data about the credential (i.e. a link to the VC document).</p>
          <input type="text" [value]="credentialStore.uri()" (input)="credentialUtilService.setCredentialUri($event.target.value)" name="uri" placeholder="Enter a URI" />
     </div>
     <!-- Credential Expiration -->
     <div class="form-group">
          <app-xrpl-expiration-input [expirationSignal]="credentialStore.credentialSubjectExpirationDate" [setExpiration]="credentialStore.setCredentialSubjectExpirationDate.bind(credentialStore)" label="Credential Expiration (optional)" hint="Credential expiration. Leave blank for a credential that never expires."> </app-xrpl-expiration-input>
     </div>
</div>

<div class="button-row">
     <button type="button" [class]="view().actionButtonClass" (click)="performAction.emit()" [disabled]="!canSubmit()">{{ view().actionButtonLabel }}</button>
     <button type="button" class="btn-secondary-clear-fields" [disabled]="!canSubmit()" (click)="clearFields.emit()">Clear Fields</button>
</div>
