@if (!hasNoExistingDid()) {
<div class="mt-1 rounded-xl border border-blue-200 bg-blue-50 p-3">
     <div class="flex items-center gap-2">
          <ng-icon name="heroCheckCircle" size="20" class="text-blue-600" />
          <p class="text-sm text-blue-800">DID existing for the selected account.</p>
     </div>
</div>
} @else {
<div class="mt-1 rounded-xl border border-amber-200 bg-amber-50 p-3">
     <div class="flex items-center gap-2">
          <ng-icon name="heroExclamationTriangle" size="20" class="text-amber-600" />
          <p class="text-sm text-amber-800">No DID existing for the selected account.</p>
     </div>
</div>
}
