<div class="banner">
     <div class="banner-content">
          <div id="navbar-container">
               <app-navbar></app-navbar>
          </div>
     </div>
</div>

<!-- Get view -->
@let viewModel = ammTransactionViewModelService;
<!-- Get active tab -->
@let tab = viewModel.activeTab();
<!-- Get tab data -->
@let tabs = menuTabs;

<!-- Main content -->
<div class="main-container">
     <div class="content-wrapper">
          <!-- Left Wallet panel -->
          <app-wallet-panel (walletSelected)="selectWallet($event)"></app-wallet-panel>

          <!-- Center form -->
          <div class="form-panel">
               <!-- Menu / Tabs -->
               <app-tab-menu-with-info [tabs]="tabs" [active]="tab" [metaMap]="tabMeta" (activeChange)="setTab($event)"></app-tab-menu-with-info>

               <!-- Pool summary info -->
               <app-amm-summary></app-amm-summary>

               <!-- Warning Message -->
               @if (txUiService.warningMessage) {
               <app-warning-message [warningMessage]="safeWarningMessage()"></app-warning-message>
               }

               <form #theForm="ngForm" class="main-form">
                    <div class="tab-content-columns">
                         <div class="tab-content-container form-fields-container">
                              <!-- AMM Form Fields -->
                              <app-amm-fields
                                   [tab]="tab"
                                   [destinationItems]="destinationItems()"
                                   [selectedDestinationItem]="selectedDestinationItem()"
                                   [destinationSearchQuery]="destinationSearchQuery()"
                                   (pool1CurrencySelected)="onPool1CurrencySelected($event)"
                                   (pool1IssuerSelected)="onPool1IssuerSelected($event)"
                                   (pool2CurrencySelected)="onPool2CurrencySelected($event)"
                                   (pool2IssuerSelected)="onPool2IssuerSelected($event)"
                                   (depositOptionChange)="ammUtilsService.selectDepositOption($event)"
                                   (withdrawOptionChange)="ammUtilsService.selectWithdrawOption($event)"
                                   (destinationSearchQueryChange)="handleSearchQueryChange($event)"
                                   (destinationValueChange)="handleDestinationChange($event)"
                              />
                         </div>
                    </div>

                    <!-- Transaction Options -->
                    <app-transaction-options [showWhenTab]="['createAMM', 'depositToAMM', 'withdrawalFromAMM', 'clawbackFromAMM', 'swapViaAMM', 'deleteAMM']" [activeTab]="viewModel.activeTab" [multiSigningEnabled]="accountConfiguratorStoreService.multiSigningEnabled()" [regularKeySigningEnabled]="accountConfiguratorStoreService.regularKeySigningEnabled()" />

                    <!-- Action buttons -->
                    <div class="button-row">
                         <button type="button" [class]="ammUtilsService.actionButtonClass()" (click)="performAction()" [disabled]="!isIdle() || !hasWallets()">{{ txUiService.spinner() ? 'Processing...' : ammUtilsService.actionButtonLabel() }}</button>
                         <button type="button" class="btn-secondary-clear-fields" (click)="clearInputFields()" [disabled]="!isIdle() || !hasWallets()">Clear Fields</button>
                    </div>

                    <!-- Execution time -->
                    <app-execution-time-display [time]="executionTime()"></app-execution-time-display>

                    <!-- Transaction Preview -->
                    <app-transaction-preview></app-transaction-preview>
               </form>
          </div>

          <app-amm-requirements-info></app-amm-requirements-info>
     </div>
</div>
