<div class="space-y-6">
     <div class="card-base">
          <h4 class="section-heading">
               <lucide-icon name="signal" class="section-heading-icon-green"></lucide-icon>
               Payment Channel Details
          </h4>

          <!-- XRP Amount and Settle Delay - Two Column Grid -->
          <div class="grid grid-cols-1 gap-6 lg:grid-cols-2">
               <!-- XRP Amount -->
               <div>
                    <label for="xrpAmount" class="label-primary">XRP Amount</label>
                    <p class="text-secondary">Amount of XRP to deduct from the sender's balance and set aside in this channel (precision up to 0.000001).</p>
                    <input type="number" name="amountField" placeholder="e.g. 10.5" step="0.000001" min="0" [ngModel]="paymentChannelStoreService.amount()" (ngModelChange)="paymentChannelStoreService.setField('amount', $event)" (focus)="onFocus($event)" class="input-base" />
               </div>

               <!-- Settle Delay -->
               <div>
                    <label for="settleDely" class="label-primary">Settle Delay</label>
                    <p class="text-secondary">Amount of time the source address must wait before closing the channel if it has unclaimed XRP.</p>
                    <input type="text" [(ngModel)]="paymentChannelStoreService.settleDelay" name="settleDelay" class="input-base" />
               </div>
          </div>

          <!-- Destination -->
          <div>
               <label for="destination" class="mb-2 mt-4 block text-sm font-semibold text-gray-900">Destination</label>
               <p class="text-secondary">The unique address to receive XRP claims against this channel. Select destination from the dropdown or manually enter a new destination.</p>
               <app-select-search-dropdown [items]="destinationItems" [value]="selectedDestinationItem" (valueChange)="destinationChanged.emit($event)" placeholder="Enter or select destination address" />
          </div>
     </div>

     <!-- Toggle optional fields Card -->
     <div class="card-base">
          <div class="flex items-center justify-between">
               <app-toggle-slider [checked]="txUiService.wantsOptions()" (checkedChange)="txUiService.toggleOptions($event)"> Include optional fields in transaction </app-toggle-slider>

               <div class="flex items-center gap-2">
                    <button type="button" class="btn-optional-fields" title="Destination Tag and Expiration Date are optional XRPL transaction fields">
                         <ng-icon name="heroQuestionMarkCircle" size="18"></ng-icon>
                    </button>
               </div>
          </div>
     </div>

     <!-- Optional Fields Section -->
     @if (txUiService.wantsOptions()) {
     <div class="card-base">
          <app-transaction-options-section [activeTab]="'createPaymentChannel'"></app-transaction-options-section>
     </div>
     }
</div>
