<div class="space-y-6">
     <!-- Permission Domain Selector Card -->
     @if (permissionedDomainStoreService.createdPermissionedDomains().length > 0) {
     <div class="card-base">
          <h4 class="section-heading">
               <!-- <lucide-icon name="scroll-text" class="section-heading-icon-tan"></lucide-icon> -->
               <ng-icon name="heroShieldCheck" size="18" class="text-green-700" />
               Permission Domain Details
          </h4>

          <!-- Permission Domain dropdown -->
          <label for="selectPDomainToDelete" class="label-primary"> Select Permissioned Domain to Delete </label>
          <p class="text-secondary">Select an existing permissioned domain attached to the current wallet.</p>
          <app-select-search-dropdown [items]="permissionedDomainViewModelService.domainItems()" [value]="permissionedDomainViewModelService.selectedDomainItem()" (valueChange)="onDomainSelected.emit($event)" placeholder="Search by Domain ID..." emptyMessage="No domains found"> </app-select-search-dropdown>
     </div>

     <!-- Selected Domain ID -->
     @if (permissionedDomainStoreService.selectedDomainId()) {
     <div class="card-base">
          <label for="domainID" class="label-primary"> Domain ID </label>
          <p class="text-secondary">Ledger hash of the Permissioned Domain to be deleted.</p>
          <input type="text" readonly class="input-disabled" [value]="permissionedDomainStoreService.selectedDomainId()" />
     </div>
     } }
</div>
